.main2 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-bottom: 10px;
}

.title_container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   /* align-items: end; */
   padding-right: 20px;
}

.title {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding-left: 30px;
   padding-top: 10px;
   font-weight: 600;
   text-transform: uppercase;
   color: var(--text-color);
}


.container {
   display: flex;
   flex-direction: column;
}

.containerDouble {
   display: flex;
   padding: 0 20px;
   gap: 20px;
}

.szczegoly {
   background-color: gray;
}