*{
  margin: 0;
}
.container{
   position: fixed;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   background-image: linear-gradient(135deg,rgb(255, 255, 255) 30%, rgb(190, 189, 189) 100%);
   border: 1px solid rgb(143, 143, 143);
   border-radius: 10px;
  z-index: 2;
  display: grid;
  grid-template-rows: 45px 170px   ;
 }

.mydivheader {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width:300px;
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
  }
 .mydiv {
  width: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    }




    .main{
      overflow-y: scroll;
      
    }
    
    .main::-webkit-scrollbar-thumb {
      background-color: rgb(95, 82, 82)
      /* outline: 1px solid slategrey; */
    }