.oprawy{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100vw;
  }
  
  
  .oprawaTable{
    background-color: rgb(252, 244, 234);
    border-radius: 10px;  
    width: calc(100vw - 40px);
    height: 10rem;
    box-shadow: 8px 8px 8px rgb(159, 159, 159);
  
  
  }
  
  
  .header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(240, 151, 50) 0%,rgb(255, 176, 85) 50%,rgb(240, 151, 50) 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 2rem;
    color: #fff;
    gap:20px
  }
  
  
  .row1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    gap:10px
  }
  
  .oprawaCard input{
    
    height: 1.8rem;
    /* padding: 5px; */
    /* font-size: 1rem; */
    background-color: rgb(253, 237, 213);
  }
  
  .oprawaCard select{
  
    height: 1.8rem;
   
    font-size: 1rem;
    /* font-weight: bold; */
    background-color: rgb(253, 237, 213);
    /* background-color: transparent; */
    /* box-shadow: none; */
    color: gray;
  
  }
  
  .oprawaCard option{
  
    height: 1.8rem;
   
    font-size: 1rem;
    /* font-weight: bold; */
    background-color: rgb(240, 151, 50);
    /* background-color: transparent; */
    /* box-shadow: none;
    color: white; */
  
  }
  

  table input{
    background-color: transparent;
    box-shadow: none;

  }

  .col1, .col2, .col5{
    width: 50px;
  }

  .col3{
    width: 100px;
  }




  .table th, .table tr:nth-child(even){
 /* background-image: linear-gradient(180deg,rgb(209, 221, 233) 20%, rgb(171, 183, 196) 100%); */
 background-color: rgb(253, 227, 188);
   color: rgb(61, 61, 61);
   font-size: 0.9rem;
   outline-style: none;
 
   }
   .table tr:nth-child(odd){
     background-color: rgb(255, 238, 214);
     outline-style: none;
   }
 

   .table select {
    background-color: transparent;
    box-shadow: none;
  }