.containerWykonanie {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 0.9rem;
}
 .containerWykonanie:hover{
   background-color: rgb(175, 208, 252);
 }


 .stage {
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   outline: 1px solid rgba(128, 128, 128, 0.233);
   height: 2rem;
   gap:30px;
   padding-top: 10px ;
   font-size: 0.9rem;   
}


 .stage_green_light {
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   outline: 1px solid rgba(128, 128, 128, 0.233);
   height: 2rem;
   gap:30px;
   padding-top: 10px ;
   font-size: 0.9rem;  
   background-color: #b9e3562d;

   background:linear-gradient(to bottom, #b9e3565d 5%, #a5cc524e 100%); -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 ); 
}


 .stage_dark{
      width:100%;

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   outline: 1px solid rgba(128, 128, 128, 0.233);
   height: 2rem;
   gap:30px;
   padding-top: 10px ;
   font-size: 0.9rem;   
   /* background-color: #768d87b1; */
   background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 );
}


 .stage_yellow{
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   outline: 1px solid rgba(128, 128, 128, 0.233);
   height: 2rem;
   gap:30px;
   padding-top: 10px ;
   font-size: 0.9rem;   
    background:linear-gradient(to bottom, #e3d056 5%, #c2b245 100%); -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 );

}

 .title_bold{
   font-weight: bold;
 }
 .title_mini{
   /* font-weight: bold; */
font-size: 0.8rem;
}

.info{
  width: 100px;
  text-align: left;
}

.info2{
  width: 30px;
     display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: start;
   gap:5px;
}