.container {
      display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   /* position: absolute;
   top:0; */
   width: 100%;
   /* margin: 10px; */
   /* margin-bottom: 10px; */
width: 100%;

background-color: rgb(231, 231, 231);
}

.stage {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   /* gap:20px; */
   /* height: 100%; */
/* padding-right: 20px; */
width: 300px;
/* background-color: red; */
margin-bottom: 10px;
}


.btn_zamknij {
   width: 100px;
   height: 30px;
   background-color: transparent;
   border-radius: 5px;
   border: 1px solid rgba(128, 128, 128, 0.429);
   color: rgb(140, 140, 140);
   
}

.btn_zamknij:hover {
   background-color: rgb(234, 234, 234);
   color: rgb(90, 90, 90)
}

.paneBtn {
      display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap:10px

}