.container {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-bottom: 15px;
}
.header_container{
  padding: 2px;
  background-color: rgb(235, 235, 235);
  height: 2rem;
}

.header_title {
  color: rgb(53, 53, 53);
  padding-left: 5px;
}


.historia {
  border-radius: 10px;
  width: calc(100vw - 40px);
  background-color: transparent;
}


.main {
  height: 150px;
  overflow: auto;
}


.main::-webkit-scrollbar {
  width: 0.8em;
  height: 10px;
}

.main::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.main::-webkit-scrollbar-thumb {
  /* background-image: linear-gradient(rgb(240, 151, 50) 0%,rgb(250, 187, 114) 50%,rgb(240, 151, 50) 100%); */
  background-color: rgb(180, 179, 179);
  border-radius: 20px;
  /* outline: 1px solid slategrey; */
}

.main::-webkit-scrollbar-corner {
  background-color: rgb(191, 209, 194);
}





.table_historia_body {}


.table_historia th,
.table tr:nth-child(even) {
  /* background-image: linear-gradient(180deg,rgb(209, 221, 233) 20%, rgb(171, 183, 196) 100%); */
  /* background-color: rgb(253, 227, 188); */
  color: rgb(109, 109, 109);
  font-size: 0.9rem;
  font-weight: 600;
  outline-style: none;

}

.table_historia th {
  background-color: rgb(231, 231, 231);
}

.table_historia tr:nth-child(odd) {
  /* background-color: rgb(255, 238, 214); */
  outline-style: none;
}


.input_textarea {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  border: 1px solid rgb(228, 227, 227);
  /* border-radius: 10px; */
}

.input_textarea:focus{
outline: none;
}