*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.loginForm{
	/* background-image: transparent; */
    font-family: Google Sans,-apple-system,BlinkMacSystemFont,sans-serif;
    /* background-color: rgba(1,32,93,0.6); */
    /* color: white; */
}




.container{
	display: grid;
	grid-template-rows: 1fr  ;
	/* background-color: white; */
	/* background: url(/src/assets/logowanie_4.jpg); */
    background: url(/src/assets/m7.jpg);

  background-repeat: no-repeat;
  background-size: cover;
}


.icon2{

	width: 180px;
	margin: 30px;

}

.center{
	display: flex;
    justify-content: center;
    align-items: center;
	/* height: calc(100vh - 100px); */
	height: 100vh;


}

.loginPaine{

	/* background-image: transparent; */
	
	/* background-color: #4584be; */
	padding: 20px;
	/* border: 1px solid rgb(228, 226, 226); */
	border-radius: 2%;
	width: 400px;
	height: 400px;
	display: flex;
    justify-content: center;
    align-items: center;
	
	/* backdrop-filter:  blur(10px); */
}

.form{
	/* background-image: transparent; */
	display: flex;
    justify-content: center;
    align-items: center;
 	flex-direction: column;

 	gap: 20px;
	width: 80%;


}



.loginInput{
	width: 350px; 
	height: 2.5rem;;
	border-radius: 10px;
	/* padding-left: 30px; */
text-align: center;
border: 1px solid rgb(219, 219, 219);
background-color: rgb(219, 219, 219);;
/* background: transparent; */


}


.myButton {
	background-image: linear-gradient(#E30613 0%,#bd131e 50%,#E30613 100%);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	padding:8px 10px;
	text-decoration:none;
	width: 350px; 
	height: 2.5rem;
	border-radius: 10px;
	border: none;
	margin-bottom: 40px;
}
.myButton:hover {
	background-image: linear-gradient(#E30613 0%,#bd131e 50%,#E30613 100%);
	outline: 1px rgb(255, 40, 40) solid;
}
.myButton:active {
	position:relative;
	top:1px;
}

