.container {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-bottom: 15px;
}


.oprawa {
  border-radius: 10px;
  width: calc(100vw - 40px);
  height: calc(100% - 20px);
  background-color: transparent;

}

.header{
  display: flex;
  align-items: center;
  justify-content: start;
  background-image: linear-gradient(rgb(240, 151, 50) 0%,rgb(255, 176, 85) 50%,rgb(240, 151, 50) 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  gap:20px;
  height: 1.6rem;
  color: #fff;
  font-size: 0.9rem;
  padding-left: 20px;


}

.produkt_txt{
  color: rgb(53, 53, 53);
}
.main {
  /* overflow: auto; */
}


/* pasek przewijania */
.main::-webkit-scrollbar {
  width: 0.8em;
  height: 10px;
}

.main::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);

}

.main::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgb(240, 151, 50) 0%,rgb(250, 187, 114) 50%,rgb(240, 151, 50) 100%);
    border-radius: 20px;
  /* outline: 1px solid slategrey; */
}

.main::-webkit-scrollbar-corner {
  background-color: rgb(191, 209, 194);
}



.oprawy{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100vw;
  }
  
  
  .oprawaTable{
    background-color: rgb(252, 244, 234);
    border-radius: 10px;  
    width: calc(100vw - 40px);
    height: 10rem;
    box-shadow: 8px 8px 8px rgb(159, 159, 159);
  
  
  }
  
  

  
  .row1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    gap:10px
  }
  
  .oprawaCard input{
    
    height: 1.8rem;
    /* padding: 5px; */
    /* font-size: 1rem; */
    background-color: rgb(253, 237, 213);
  }
  
  .oprawaCard select{
  
    height: 1.8rem;
   
    font-size: 1rem;
    /* font-weight: bold; */
    background-color: rgb(253, 237, 213);
    /* background-color: transparent; */
    /* box-shadow: none; */
    color: gray;
  
  }
  
  .oprawaCard option{
  
    height: 1.8rem;
   
    font-size: 1rem;
    /* font-weight: bold; */
    background-color: rgb(240, 151, 50);
    /* background-color: transparent; */
    /* box-shadow: none;
    color: white; */
  
  }
  

  /* table input{
    background-color: transparent;
    box-shadow: none;
    height: 20px;
    outline: none;
  } */

  .col1, .col2, .col5{
    width: 50px;
  }

  .col3{
    /* width: 100px; */
  }




  .table_oprawa th, .table_oprawa tr:nth-child(even){
 /* background-image: linear-gradient(180deg,rgb(209, 221, 233) 20%, rgb(171, 183, 196) 100%); */
 /* background-color: rgb(253, 227, 188); */
   color: rgb(109, 109, 109);
   /* font-size: 0.9rem; */
   outline-style: none;
 
   }
   .table_oprawa th{
    background-color: rgb(231, 231, 231);
   }
   .table_oprawa tr:nth-child(odd){
     /* background-color: rgb(255, 238, 214); */
     outline-style: none;
   }
 

   .table_oprawa select {
    background-color: transparent;
    box-shadow: none;
  }

  .icon {
    height: 100%;
    /* display: flex;
    justify-content: left;
    align-items: center; */
  
  }


    .icon2{
      padding-left: 7px;
      margin: 5px;
    height: 16px;
  }



  .expand {
    width: 15px;
    margin-left: 10px;
  }

  .expand_icon {
  width: 15px;
  padding-bottom: 5px;

  }
  .expand_icon_bok {
  width: 15px;
  padding-bottom: 5px;
    rotate: 270deg;
  }



  .pokaz_elementy_oprawy {
    height: 20px;

  }

  .icon:hover{
  border-top:  rgb(159, 159, 159) dashed 1px; 
    /* outline:  rgb(159, 159, 159) solid 1px; */
  }
  

  .select,
  .input {
    background-color: transparent;
    height: 2rem;
    /* border-radius: 5px; */
    border-color: transparent;
    /* outline: 1px solid rgb(185, 185, 185); */
    /* padding-left: 10px; */
    
  }

  /* .glowka{background-image: red;
  } */


  .select_typ {
    background-color: transparent;
    height: 2rem;
    padding-left: 10px;
    /* border-radius: 5px; */
    border-color: transparent;
    /* outline: 1px solid rgb(185, 185, 185); */
    /* padding-left: 10px; */
    font-style: italic;
  }


 .th_naklad2 {

  }

.tdNaklad{


  }
   .input_uwagi {
    background-color: transparent;
    height: 2rem;
    border: none;
    border-bottom: 1px dashed rgba(128, 128, 128, 0.253);
    
    font-style: italic;

  }
.td_ilosc_stron{
  text-align: end;
  padding-right: 10px;
}
   .input_uwagi_fragmenty {
    background-color: transparent;
    height: 2rem;
    font-size: 0.9rem;
    border: none;
    border-bottom: 1px dashed rgba(128, 128, 128, 0.253);
    font-style: italic;
    /* padding-left: 10px; */
    text-align: end;
    color: #3d3d3d;
    padding-right: 10px;

  }

     .input_bok_oprawy{
    background-color: transparent;
    height: 2rem;
    border: none;
    width: 50px;
    text-align: end;
  }
  
   .input_naklad {
    background-color: transparent;
    height: 2rem;
    border: none;
    width: 50px;
    text-align: end;
    font-weight: bold;
    color: rgb(85, 85, 85);

  

  }

     .input_naklad_fragment {
    background-color: transparent;
    height: 2rem;
    font-size: 0.9rem;
    border: none;
    width: 50px;
    text-align: end;
    font-style: italic;
    padding-right: 3px;

  }




    .table_oprawa .input_czystodruki {
    background-color: transparent;
    height: 2rem;
    border: none;
    width: 100px;

  }

       .th_lock {
width: 40px;
  }

         .th_str {
width: 40px;
  }
   .th_oprawa {
padding-left: 10px;
  }

       .th_bok_oprawy {
width: 100px;
  }
         .th_naklad {
width: 80px;
  }

     .th_czystodruki {
width: 130px;
  }
.tdOprawa{

/* background-color: red; */

width: 230px;
  }


  .table_oprawa .select_oprawa{
    /* background: rgba(50, 52, 54, 0.726);
    background: rgba(50, 52, 54, 0.575); */

background: rgba(50, 52, 54, 0.075); 
    box-shadow: none;
       border: 1px solid rgba(88, 88, 88, 0.247);

    /* border: none; */
    color: rgb(85, 85, 85);
    padding-left: 10px;
    border-radius: 5px;
    margin-right: 10px;
    height: 25px;
    font-weight: bold;
    /* font-style: italic; */
    width: 260px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.select_oprawa:focus{
    outline: none;
}



.tdID{
width: 20px;
  }


  .table_oprawa .input_id{
background: rgba(50, 52, 54, 0.075); 


    box-shadow: none;
    border: 1px solid rgba(88, 88, 88, 0.247);
    /* border: none; */
    /* color: rgb(43, 43, 43); */
    /* color: rgb(24, 24, 24); */
    color: rgb(85, 85, 85);

    font-weight: bold;

    /* color: rgb(255, 255, 255); */
    padding-left: 10px;
    border-radius: 5px;
    margin-right: 10px;
    height: 25px;
    width: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}