
.container {
  display: flex;
  align-items: start;
  justify-content: left;
  padding-left: 20px;
  margin-top: 25px;
  margin-bottom: 15px;
}
.container2 {
  display: flex;
  align-items: end;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 90%;
  /* background-color: #646464; */
}


.pakowanie {
  border-radius: 10px;
  width: calc(100vw - 40px);
  height: calc(100% - 20px);
  /* background-image: linear-gradient(135deg,rgb(235, 235, 235) 0%, rgb(182, 171, 171) 100%); */
  /* background-color: rgb(182, 171, 171); */
  /* box-shadow: 8px 8px 8px rgb(159, 159, 159); */
  /* background-color: rgb(178, 196, 214); */
  /* box-shadow: 5px 5px 5px rgb(159, 159, 159); */
}

.header{
  display: flex;
  align-items: center;
  justify-content: start;

  /* background-image: linear-gradient(rgb(97, 96, 96) 0%,rgb(106, 102, 102) 50%,rgb(81, 78, 78) 100%); */
  background: rgb(221, 221, 221);
    /* background-image: linear-gradient(rgb(240, 151, 50) 0%,rgb(250, 187, 114) 50%,rgb(240, 151, 50) 100%); */

  /* background-image: linear-gradient(rgb(180, 180, 180) 0%,rgb(216, 216, 216) 50%,rgb(180, 180, 180) 100%); */

  /* border-bottom: 1px solid rgb(199, 199, 199); */
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */
  height: 1.6rem;
  color: #3b3b3b;
  font-weight: bold;
  font-size: 0.9rem;
  padding-left: 20px;
}

.zestawienie_kosztow{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: flex-end;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
}
.suma{
  color: #646464;
  font-weight: bold;
  font-size: 0.9rem;
}

.main {
  overflow: auto;
  
  
}

.col {
  position: relative;
  display: flex;
  flex-direction: row;

  align-items: start;
  gap: 15px;

}
.status{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  /* background-image: linear-gradient(rgb(180, 180, 180) 0%,rgb(201, 200, 200) 50%,rgb(180, 180, 180) 100%); */
  text-align: center;
}
.status_label{
  font-size: 0.8rem;}

  .suma_label{
    font-size: 1.2rem;
    font-weight: bold;
  }

  .td_suma{
    font-weight: bold;
    font-size: 1.2rem;
  }
  .td_razem{
    text-align: end;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .td_indeks{
width: 40px;
  }
  .td_ilosc{
    width: 60px;
      }
.btn_edytuj{
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-image: linear-gradient(rgb(180, 180, 180) 0%,rgb(201, 200, 200) 50%,rgb(180, 180, 180) 100%);
border: none;
}

.btn_dodaj_koszty{
    min-width: 300px;
   height: 2.6rem;
    border: none;
  font-size: 1rem;
  border-left: 1px solid rgb(189, 189, 189);
  border-right: 1px solid rgb(189, 189, 189);
  color: aliceblue;
  background-color: rgb(93, 93, 93);

}

.btn_dodaj_koszty:hover{
    background-color: rgb(113, 113, 113);

}




/* pasek przewijania */
.container::-webkit-scrollbar {
  width: 0.8em;
  height: 10px;
}

.container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.container::-webkit-scrollbar-thumb {
  background-color: rgb(191, 209, 194);
  /* outline: 1px solid slategrey; */
}

.container::-webkit-scrollbar-corner {
  background-color: rgb(191, 209, 194);
}


.table2{

  height: 1fr;
}



.table2 input {
  width: 100%;
}

.col1 {
  width: 40px;
}

.col_kolory {
  width: 200px;
  min-width: 150px;
  max-width: 300px;
}

.col_id {
  width: 120px;
}

.col_typ {
  width: 100px;
}

.col_naklad {
  width: 85px;
}

.col_strony {

  width: 70px;
}

.col_gramatura {
  width: 70px;
}

.col_wykonczenie {
  width: 100px;
}

.col_wersja {
  width: 100px;
}

.col_format {
  width: 55px;
}

.col_button {
  width: 20px;
  padding-right: 10px;
  /* background-color: red; */
}

.col_papier {
  width: 150px;
}

.col_papierInfo {
  width: 150px;
}

.col_uszlachetnianie {
  width: 200px;
}

.table2 th,
.table2 tr:nth-child(even) {
  /* background-image: linear-gradient(180deg,rgb(232, 245, 234) 20%, rgb(191, 209, 194) 100%); */
  /* background-color: rgb(160, 158, 158); */
  background: whitesmoke;
  background: rgb(201, 200, 200);
      background-color: rgb(231, 231, 231);
  border-bottom: 1px solid rgb(199, 199, 199);
  /* border-bottom: 1px solid grey; */
    color: rgb(109, 109, 109);
  font-size: 0.9rem;
  outline-style: none;

}

.table2 tr:nth-child(odd) {
  /* background-color: rgb(187, 183, 183);
  background: whitesmoke;
  background: rgb(219, 218, 218); */
  outline-style: none;
  font-size: 1rem;
}

.table2 .select {
  background-color: transparent;
  box-shadow: none;
}

.element_typ{
width: 120px;
font-weight: bold;
font-size: 0.9rem;
}
.element_naklad{
  width: 120px;
  font-weight: bold;
  }


.icon {
  height: 70%;
  display: flex;
  justify-content: left;
  align-items: center;

}


.icon:hover {
  box-shadow: 1px 1px 1px rgb(159, 159, 159);
}

.icon:active {
  box-shadow: 2px 2px 2px rgb(159, 159, 159);
}


.procesy {
  display: grid;
  grid-template-columns: 25px 1fr;
}

.expand {
  height: 60%;

}

