.container{
    background-image: linear-gradient(#69c2f5  0%, #54a0e7 80%);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}