
.body{
 /* background-image: linear-gradient(#383838 0%, #0a0a0a 80%);
 background-image: linear-gradient(#0a0a0a 0%, #292929  50%,#0a0a0a  100%); */

 /* top: 0px; */
 height: 50px;
 width: 95vw;
 /* position: fixed;
 z-index: 1; */

 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 /* border-bottom:1px solid #bebdbd; */
 /* margin-bottom: 10px; */
}


.leftHeaderContener{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    height: 50px;
     
}



.centerHeaderContener{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    height: 50px;
}
.rightHeaderContener{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    height: 50px;
}

.icon{
    
    height: 90%;
    padding: 10px;


    
}

.icon:hover{

    /* outline:1px solid #ff0000; */
   

    /* background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%); */
    /* background-image: linear-gradient(#383838 0%, #444343 80%); */
    background-color: rgb(230, 230, 230);
    border-radius: 5px;

    
}


