
.body{
 /* background-image: linear-gradient(to bottom, #3f3f3f 5%,#3f3f3f 100%); */
 /* background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%); */
 /* background-image: linear-gradient(#dddddd 0%, #f6f6f6 80%); */

 background-image: linear-gradient(#383838 0%, #0a0a0a 80%);
 /* background-image: linear-gradient(rgb(97, 96, 96) 0%,rgb(106, 102, 102) 50%,rgb(81, 78, 78) 100%); */
 background-image: linear-gradient(#0a0a0a 0%, #292929  50%,#0a0a0a  100%);

 top: 0px;
 height: 50px;
 width: 100vw;
 position: fixed;
 z-index: 1;

 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 
}


.leftHeaderContener{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    height: 50px;
}
.rightHeaderContener{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
    height: 50px;
}

.icon{
    height: 90%;
    padding: 10px;


    
}

.icon:hover{

    /* outline:1px solid #ff0000; */
   

    /* background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%); */
    background-image: linear-gradient(#383838 0%, #444343 80%);

    
}


