/* .assets{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: grayscale(100%) blur(10px);
    color: gray;
    border-radius: 30px;
    width: 250px;
    height: 180px;
    margin: 20px;
    box-shadow: 5px 5px 15px gray ;
    display: grid;
    grid-template-rows: 60px 1fr;
    backdrop-filter: grayscale(100%) blur(10px);
} */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 120px; */
    /* width: 120px; */
  
    gap:50px;
    
    
}
.bindingContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* height: 120px; */
    /* width: 120px; */
  
    gap:50px;
    
    
}

.cardBinding{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 130px;
    height: 100px;
    border: 1px solid rgb(181, 181, 181) ;
    border-radius: 10px;
    color: gray;
    font-size: 1.2rem;
}
.cardBindingSelected{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 130px;
    height: 100px;
    border: 1px solid rgb(181, 181, 181) ;
    border-radius: 10px;
    color: gray;
    font-weight: bold;
    font-size: 1.2rem;
    outline:2px solid rgb(73, 182, 0)  ;
    background-color: rgb(212, 212, 212);
    /* background-image: linear-gradient(rgb(73, 182, 0) 0%,rgb(94, 202, 22) 50%,rgb(73, 182, 0) 100%); */
}
.cardInput{

    box-shadow: none;
    width: 15px;
    background-color: green;
  
}

.btn{
 
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
    color: #fff;
    margin: 5px;
  }
  
  .btn:hover{
   
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
    color: #fff;
    outline: whitesmoke 1px solid;
    
  }