
table{
   color: gray;
   width: 100%;
   background: #444343;

}
th{
   position: sticky;
   top:0;
   background: #1d1d1d;
   height: 40px; 
   padding-left: 20px;;
   
  
}
td{
 height: 40px; 
 padding-left: 20px;;
}

/* tr:nth-of-type(2n){
background: #504f4f;
} */

.tableContainer{
   max-height: 400px;
   overflow-y: scroll;


   /* max-width: 100%;
   overflow-y: scroll; */
}

.alert{
   background-color:green;
}

.alert2{
   background-color: blue;
}