
.btn_zamowienia_menu_row_green {
	box-shadow:inset 0px 1px 0px 0px #caefab;
	/* background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a; */
   background-color: rgba(99, 248, 0, 0.445);

	border-radius:6px;
	border:1px solid #258a1673;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:0.8rem;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
.btn_zamowienia_menu_row_green:hover {
	/* background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811; */
   background-color: rgba(99, 248, 0, 0.801);

}
.btn_zamowienia_menu_row_green:active {
	position:relative;
	top:1px;
}
