.body {
   position: fixed;
   top: 45px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   padding-top: 50px;
   background-color: rgb(247, 170, 27);
   display: grid;
   /* min-height: calc(100vh - 5px); */
   grid-template-rows: 1fr 60px;
   z-index: 5;


}
.container{
    /* display: flex; 
   flex-direction: column;
   align-items: center;
   justify-content: start; 
   gap: 10px; */
      
}

.tableContainer {
   /* height: calc(100vh - 110px); */
   /* max-height: 300px; */
   overflow-y: scroll;
   margin-bottom: 30px;

}

.title{
   display: flex;
   align-items: center;
   justify-content: start;
   padding-left: 10px;
   font-size: 2rem;
   font-weight: bold;
}




.myButton {
   /* background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%); */

   /* background-color:#f9f9f9; */
   background-color: transparent;
   border-radius: 10px;
   border: 1px solid #c4c4c4;
   display: inline-block;
   cursor: pointer;
   color: #575656;
   color: #ffffff;

   font-size: 12px;

   padding: 8px 50px;
   text-decoration: none;
   text-shadow: 0px 0px 0px #ffffff;
}

.myButton:hover {
   background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
   background-image: linear-gradient(#383838 0%, #444343 80%);
   background-color: #e9e9e9;
}

.myButton:active {
   position: relative;
   top: 1px;
}



table {
   color: #252422;
   width: 100%;
   background: #f4f3ef;

}

th {
   font-size: 1rem;
   position: sticky;
   top: 0;
   background: #1d1d1d;
   height: 2rem;
   padding-left: 20px;
   z-index: 2;
   background-color: rgb(197, 145, 48);

}

td {
   font-size: 0.9rem;
   height: 2rem;
   padding-left: 20px;
   border-bottom: 1px solid #dbdad6;
}

tr:nth-of-type(2n) {
   /* background: #dbdad6; */
   background: #ebe9e5;
}



tr {

   outline: 1px solid #e7e6e3;
}

tr:hover {
   /* outline: 1px solid gray; */
   outline: 1px solid #a5a4a2;
}




.col_id {
   width: 150px;
}

.col_nr {
   width: 40px;
}

.col_rok {
   width: 40px;
}

.col_firma {
   width: 100px;
}

.col_utworzono {
   width: 150px;
}