
.maszyna{
    background-color: rgb(177, 177, 177);
    border-radius: 6px;
    padding: 10px 20px;
    text-align: left;
    margin:10px;
    color: #282c34;
}
 .naglowek{
    background-color: #f5a906;
 }

p{
    color: #282c34;

  }

  .pogrubione{
 
    font-weight: bold;
  }