
.body{
  /*
  background-color: linear-gradient( to right, #75b022 5%, #588a1b 95%);
  background: linear-gradient( to right, #47bfff 5%, #1a44c2 60%);
   
  */  
  /* background: linear-gradient( to right, #75b022 5%, #588a1b 95%); */
  position: relative;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: var(--border-color-light);
  height: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
 margin: 10px 10px 10px 10px;
 padding-left: 20px;
 color: var(--border-color-light);

  
}