.container{
   /* position: relative; */
   display: grid;
   grid-template-rows: 1fr 50px ;
   /* height: 300px; */
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   /* background-color: #9df450; */
}





.row_zamowienia:nth-of-type(2n){
   /* background: #dbdad6; */
   background: #f7f6f6;
   outline: 1px solid rgb(189, 189, 189);
}

.row_zamowienia:nth-of-type(1n):hover{
   background-color: #9df450;
   background-color: #b3b3b3;
   color: white;

   }
.row_zamowienia:nth-of-type(2n):hover{
   background-color: #9df450;
   background-color: #b3b3b3;
   color: white;



}


/* tr{
 outline: 1px solid #e7e6e3;
} */
/* tr:hover{

   outline: 1px solid #a5a4a2;
} */

.alert{ background:red; }

.alert2{ background: green; }

.bgdanger {
   background-color: #e74a3b;
   background-image: linear-gradient(180deg,#e74a3b 10%,#be2617 100%);
   background-size: cover;
}


   .iconSettings{ width: 15px;

    
    }

   .col_klient{
     width:250px;
   }
   .col_rok{
      width:30px;
    }
   .col_karta{
      min-width: 10px;
  


   }

   .col_uwagi{
      /* background-color: red; */
      max-width: 100px;
      max-height: 50px;
      word-wrap: break-word;
      /* width: 120px; */
 /* max-width: fit-content; */
   }

   .col_button{
      display: flex;
      align-content: center;
      justify-content: center;
      border: none;
      /* padding-top: 10px; */

     
   }

   

   .td_checkbox{
      align-items: center;
      border: none;
 padding-right: 5px;
   }
   .th_checkbox2{
      align-items: center;
      /* padding-right: 5px; */

   }


   .td_karta{

      border: none;
         text-align: center;
   }
   .th_karta{
 width: 30px;

   }



.iconMenuBtn{
   width: 18px;
  
}

.table th
{
  /* background-color: rgb(216, 216, 216); */
  color: rgb(61, 61, 61);
  font-size: 0.9rem;
  outline-style: none;

}

.table tr:nth-child(even) {
  /* background-color:  rgb(238, 238, 238); */
  color: rgb(61, 61, 61);
  font-size: 0.9rem;
  outline-style: none;
  border-bottom: 1px solid rgb(192, 191, 191)  ;
  

}



.table tr:nth-child(odd) {
  /* background-color: red; */
  outline-style: none;
  font-size: 1rem;
  border-bottom: 1px solid rgb(192, 191, 191) ;
}


.iconErrorTable{
   width: 20px;
}


.iconLockTable{
   width: 25px;
   padding: 2px;
}

