
.quickActionsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-columns: repeat(2, minmax(500px, 1fr)); */
  gap: 2.5rem;
}

.actionCard {
  width: 350px;
  position: relative;
  height: 90px;
  background: transparent;
  /* background: rgba(0, 255, 26, 0.137); */
  /* background: rgba(0, 0, 0, 0.276); */
  border: 1px solid rgba(255, 255, 255, 0.256);
  border: none;
  padding: 2rem;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.5rem;
  cursor: pointer;
  overflow: hidden;
  transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.actionCard:hover {
  transform: translateY(-5px);
  border-color: rgba(255,255,255,0.2);
  background: rgba(255,255,255,0.07);
}

.hoverGlow {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 0.4s;
}

.actionCard:hover .hoverGlow {
  opacity: 1;
}

.iconWrapper {
  position: relative;
  z-index: 2;
  background: rgba(255,255,255,0.05);
  padding: 1rem;
  border-radius: 16px;
  color: #fff;
}

.textContent {
  position: relative;
  text-align: right;
  z-index: 2;
}

.actionTitle {
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 0.3rem;
}

.actionDesc {
  font-size: 1rem;
  color: #d2d3d6;
  font-weight: 300;
}

.cornerIcon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  opacity: 0.2;
  transform: rotate(45deg);
}

.squareIcon { width: 16px; height: 16px; border: 2px solid currentColor; border-radius: 3px; }
.circleIcon { width: 16px; height: 16px; border: 2px solid currentColor; border-radius: 50%; }