.kafle {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 40px;
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255, 0.15);
    border-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    width: 65%;
    height: 45px;
    letter-spacing: 6px;
    font-size: 0.9em;

    background-color: rgba(216, 216, 216, 0.2);
    /* background: rgba(0, 0, 0, 0.632); */

    font-weight: 600;
    gap: 25px;
    z-index: 300;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.kafle:hover>p {
    color: rgb(255, 255, 255);

    /* font-size: clamp(0.7rem, 1vw + 0.5rem, 1.2rem); */

}


.kafle:hover {
    background-color: rgba(255, 0, 0, 0.6);
}

.icon {
    width: 20px;
}

.menu_txt {
    color: rgb(221, 221, 221);
    font-size: 13px;
    padding-top: 15px;
}


.znak {
    position: absolute;
    left: 15px;
    top: 18px;
    width: 15px;
    height: 15px;
    border-radius: 20px;
}

.iconLock {
    position: absolute;
    right: 15px;
    width: 12px;
}

.iconNew {
    position: absolute;
    right: 35px;
    width: 12px;
}




@media (max-width: 1550px) and (min-width: 741px) {
    .kafle {
        width: 80%;
        padding-left: 15px;
        justify-content: start;
        letter-spacing: 2px;

        /* background: rgba(11, 202, 91, 0.632); */
        gap: 10px;

    }

    .icon {
        width: 20px;
    }

    .menu_txt {
        color: rgb(221, 221, 221);
        font-size: 10px;
        /* padding-top: 15px; */
    }

    .menu-container {
        align-items: center;
        /* Wyśrodkowanie ikonek */
    }


    .menu-item {
        padding: 15px;
        width: 50px;
        /* Stała szerokość dla samej ikonki */
        justify-content: center;
    }

    .icon {
        margin-right: 0;
        /* Usuwamy margines, bo nie ma tekstu */
    }

    .menu_txt {
        /* display: none; Ukrywamy napisy całkowicie */
    }

    .iconNew {
        display: none;
        /* Ukrywamy napisy całkowicie */
    }
}

@media (max-width: 740px) {
    .kafle {
        width: 60px;
        padding-left: 0px;
        justify-content: center;
        background: rgba(0, 0, 0, 0.632);


    }

    .menu-container {
        align-items: center;
        /* Wyśrodkowanie ikonek */
    }


    .menu-item {
        padding: 15px;
        width: 50px;
        /* Stała szerokość dla samej ikonki */
        justify-content: center;
    }

    .icon {
        margin-right: 0;
        /* Usuwamy margines, bo nie ma tekstu */
    }

    .menu_txt {
        display: none;
        /* Ukrywamy napisy całkowicie */
    }

    .iconNew {
        display: none;
        /* Ukrywamy napisy całkowicie */
    }
}