.id{
    width: 10px;
}

.kod{
    width: 10px;
}
.nip{
    width: 40px;
}

.opiekun{
    width: 200px;
}

.icon{
    padding-top: 3px;
    width: 15px;
    margin-right: 10px;
}

.main{
    overflow-y: auto;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }