.id{
    width: 10px;
}

.kod{
    width: 10px;
}
.nip{
    width: 40px;
}

.opiekun{
    width: 200px;
}

.icon{
    padding-top: 3px;
    width: 15px;
    margin-right: 10px;
}

.main{
    overflow-y: auto;
}

.main::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .main::-webkit-scrollbar-thumb {
    background-image: linear-gradient(90deg, rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
  }
  
  /* Handle on hover */
  .main::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }