

.dane {
  padding: 5px 20px;
 background-color: rgb(233, 233, 233);
display: flex;
flex-direction: column;
gap:5px;
width: 100vw;


}

.row1 {
  display: grid;
  grid-template-columns: 230px 1fr 110px 110px 110px 110px 110px 110px;
  gap: 10px;

}
.row2 {
  display: grid;
  
  grid-template-columns:  70px 70px  70px 3fr 110px 75px 110px 110px 110px 110px 110px 110px   ;
  gap: 10px;
  /* grid-column-start: 2; */
  /* margin-left: 240px; */
}
.row3 {
  display: grid;
  
  grid-template-columns:  230px  1fr 1fr 75px  230px 230px 230px ;
  gap: 10px;
  /* grid-column-start: 2; */
  /* margin-left: 240px; */
}
.row4 {
  display: grid;
  
  grid-template-columns:  230px  1fr  230px ;
  gap: 10px;
  /* height: 2rem; */
  /* margin-left: 240px; */
  /* margin-right: 240px; */
}

.row5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  height: 150px;

  /* background-color: aqua; */
  /* height: 2rem; */
  /* margin-left: 240px; */
  /* margin-right: 240px; */
}

.parametry_btn{
  background: transparent;
  width: 100px;
}
.col {
  position: relative;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

.label {
  font-size: 0.7rem;
  padding-left: 5px;
}

.col_dane {
  position: relative;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}






.data{
  text-align: center;
}

.tytul{
  text-align: left;
  height: 30px;
  padding-left: 10px;
}

.klientContainer {
  display: flex;
  gap: 20px
}

.firma, .klient, .data{
height: 30px;
padding-left: 10px;

}


.btn_nadajNr {
  /* background: rgb(125, 248, 114); */
  background-image: linear-gradient(rgb(95, 186, 21,0.3) 0%, rgb(110, 209, 29,0.3) 50%, rgb(95, 186, 21,0.3) 100%);

  /* background-image: linear-gradient(rgba(241, 216, 48, 0.4) 0%, rgba(222, 195, 17, 0.4) 50%, rgb(241, 216, 48,0.4) 100%); */
  height: 2rem;
  border-radius: 5px;
  border-color: transparent;
  padding: 2px;
  font-size: 0.7rem;
  outline: 1px solid rgb(185, 185, 185);
}

.btn_przujmij_do_harmonogramu {
  background: rgb(246, 212, 45);

  /* background-color: rgb(41, 159, 255); */
  /* background-image: linear-gradient(rgb(107, 158, 224,0.3) 0%, rgb(126, 182, 255,0.3) 50%, rgb(107, 158, 224,0.3) 100%); */

  background-image: linear-gradient(rgba(241, 216, 48, 0.4) 0%, rgba(222, 195, 17, 0.4) 50%, rgb(241, 216, 48,0.4) 100%);
  height: 2rem;
  border-radius: 5px;
  border-color: transparent;
  padding-left: 0px;
  font-size: 0.8rem;
  outline: 1px solid rgb(185, 185, 185);
}


.select,
.input {
  background-color: white;
  height: 2rem;
  border-radius: 5px;
  border-color: transparent;
  outline: 1px solid rgb(185, 185, 185);
  padding-left: 10px;
  /* min-width: 50px; */
}



.input_textarea{
  background-color: white;
  height: 2rem;
  min-height: 2rem;
  border-radius: 5px;
  border-color: transparent;
  outline: 1px solid rgb(185, 185, 185);
  padding-left: 10px;
  padding-top: 2px;
  z-index: 3;
}
.select_stan_3
 {
  /* background-color: rgb(58, 163, 117); */
  /* background-image: linear-gradient(rgb(95, 186, 21) 0%, rgb(110, 209, 29) 50%, rgb(95, 186, 21) 100%); */
  /* background-image: linear-gradient(rgb(95, 186, 21,0.6) 0%, rgb(110, 209, 29,0.6) 50%, rgb(95, 186, 21,0.6) 100%); */
  background-image: linear-gradient(rgb(95, 186, 21,0.3) 0%, rgb(110, 209, 29,0.3) 50%, rgb(95, 186, 21,0.3) 100%);
  height: 2rem;
  border-radius: 5px;
  border-color: transparent;
  outline: 1px solid rgb(185, 185, 185);
  padding-left: 10px;
  /* min-width: 50px; */
}

.select_stan_2
 {
  /* background-color: rgb(58, 163, 117); */
  /* background-image: linear-gradient(rgb(95, 186, 21) 0%, rgb(110, 209, 29) 50%, rgb(95, 186, 21) 100%); */
  /* background-image: linear-gradient(rgb(95, 186, 21,0.3) 0%, rgb(110, 209, 29,0.3) 50%, rgb(95, 186, 21,0.3) 100%); */
  /* background-image: linear-gradient(rgba(241, 216, 48, 0.4) 0%, rgba(222, 195, 17, 0.4) 50%, rgb(241, 216, 48,0.4) 100%); */
  background: rgb(246, 212, 45);

  height: 2rem;
  border-radius: 5px;
  border-color: transparent;
  outline: 1px solid rgb(185, 185, 185);
  padding-left: 10px;
  /* min-width: 50px; */
}

.select_stan_1
 {
  /* background-color: rgb(58, 163, 117); */
  /* background-image: linear-gradient(rgb(95, 186, 21) 0%, rgb(110, 209, 29) 50%, rgb(95, 186, 21) 100%); */
  /* background-image: linear-gradient(rgb(95, 186, 21,0.3) 0%, rgb(110, 209, 29,0.3) 50%, rgb(95, 186, 21,0.3) 100%); */
  /* background-image: linear-gradient(rgba(241, 216, 48, 0.6) 0%, rgba(222, 195, 17, 0.6) 50%, rgb(241, 216, 48,0.6) 100%); */
  /* background-image: linear-gradient(180deg,rgb(232, 245, 234) 20%, rgb(191, 209, 194) 100%); */
  background-image: linear-gradient(rgb(107, 158, 224,0.3) 0%, rgb(126, 182, 255,0.3) 50%, rgb(107, 158, 224,0.3) 100%);

  height: 2rem;
  border-radius: 5px;
  border-color: transparent;
  outline: 1px solid rgb(185, 185, 185);
  padding-left: 10px;
  /* min-width: 50px; */
}


.select_status_345
 {
  /* background-image: linear-gradient(rgb(254, 18, 18, 0.9) 0%, rgba(255, 0, 0, 0.9) 50%, rgb(254, 18, 18, 0.9) 100%); */
  /* background-image: linear-gradient(rgb(180, 4, 4) 0%, rgb(216, 12, 12) 50%, rgb(180, 4, 4) 100%); */
  /* color: white; */

  background-color: rgb(254, 18, 18, 0.2);
  height: 2rem;
  border-radius: 5px;
  border-color: transparent;
  outline: 1px solid rgb(185, 185, 185);
  padding-left: 10px;
  /* min-width: 50px; */
}

.klient{
  padding-left: 35px;
  background-color:rgb(245, 245, 245);
  height: 2rem;
  border-radius: 5px;
  border-color: transparent;
  outline: 1px solid rgb(185, 185, 185);
}

.dodaj_klienta {
  position: absolute;
  top: 20px; left: 10px;
  height: 20px;
}

