
.body{
 height: 50px;
 width: 95vw;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 }

    /* szary background:linear-gradient(#dddddd 0%, #f6f6f6 50%), linear-gradient(#f2f2f2, #d6d6d6);   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 ); */

 .procesRow_tr{
    height: 30px;
    /* background-color: aqua; */
    /* background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%); -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 ); */

 }
  .procesRow_tr:nth-of-type(2n){
    /* background-color: aqua; */
    /* background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%); -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 ); */
/* background: #81b3ff; */
 }
  .procesRow_select{
    height: 30px;
    background:linear-gradient(to bottom, #81b3ff 5%, #5e9bf7 100%);  -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 );
 }
  .procesRow_select:nth-of-type(2n){
    height: 30px;
    background:linear-gradient(to bottom, #81b3ff 5%, #5e9bf7 100%);  -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 );
 }

  .procesRow_tr_AKCEPT{
    height: 30px;
    background:linear-gradient(to bottom, #d7e6f5 5%, #abc4db 100%);  -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 );
 }

  .procesRow_tr_AKCEPT:nth-of-type(2n){
    height: 30px;
    background:linear-gradient(to bottom, #d7e6f5 5%, #abc4db 100%);  -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 );
 }

  .procesRow_tr_RIP{
    height: 30px;
    background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%); -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 );
 }

  .procesRow_tr_RIP:nth-of-type(2n){
    height: 30px;
    background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%); -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 );
 }


  .procesRow_tr_REDALERT{
    height: 30px;
    /* background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%); -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 ); */
   background-color: rgb(255, 4, 4,0.5);
 
   }


  .procesRow_tr_REDALERT:nth-of-type(2n){
    height: 30px;
    /* background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%); -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 ); */
   background-color: rgb(255, 4, 4,0.6);

   }



  .procesRow_tr_ZAS{
    height: 30px;
    background:linear-gradient(to bottom, #7b9739 5%, #8fb148 100%); -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 );
 }

  .procesRow_tr_ZAS:nth-of-type(2n){
    height: 30px;
                background:linear-gradient(to bottom, #7b9739 5%, #8fb148 100%); -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 );



 }
  .procesRow_tr_trakcie{
    height: 30px;
    background:linear-gradient(to bottom, #e3d056 5%, #c2b245 100%); -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 );
 }

  .procesRow_tr_trakcie:nth-of-type(2n){
    height: 30px;
    background:linear-gradient(to bottom, #e3d056 5%, #c2b245 100%); -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 );
   
 }

   .procesRow_tr_DRUK{
    height: 30px;
    /* color: #c5dad4; */
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 );

 }

  .procesRow_tr_DRUK:nth-of-type(2n){
    height: 30px;
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 );

 }


.procesRow_tr:hover{
background: #81b3ff;
}
.procesRow_tr_AKCEPT:hover{
background: #81b3ff;
}

.procesRow_tr_RIP:hover{
background: #81b3ff;
}

.procesRow_tr_DRUK:hover{
background: #81b3ff;
}




 .input2{
    border: none;
    background-color: transparent;
    width: 115px;
 }

 .select{
border-radius: 5px;
padding-left: 10px;
padding-right: 10px;
border: 1px solid rgb(192, 192, 192);
font-size: 0.8rem;

 }
  .select_RIP{
border-radius: 5px;
padding-left: 10px;
padding-right: 10px;
border: 1px solid rgb(136, 192, 63);
    background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%); -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 );
font-size: 0.8rem;


 }
    .select_trakcie{
border-radius: 5px;
padding-left: 10px;
padding-right: 10px;
border: 1px solid #8d8237a1;
   background-color: rgba(202, 181, 63, 0.594);
    font-size: 0.8rem;

 }

   .select_ZAS{
border-radius: 5px;
padding-left: 10px;
padding-right: 10px;
border: 1px solid rgb(136, 192, 63);
    background:linear-gradient(to bottom, #7b9739 5%, #8fb148 100%); -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 );
   
font-size: 0.8rem;


 }

   .select_DRUK{
border-radius: 5px;
padding-left: 10px;
padding-right: 10px;
/* border: 1px solid rgb(136, 192, 63); */
border: none;
font-size: 0.9rem;

    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 );


 }

   .select_AKCEPT{
border-radius: 5px;
padding-left: 10px;
padding-right: 10px;
/* border: 1px solid rgb(63, 173, 192); */
border: none;
background:linear-gradient(to bottom, #d7e6f5 5%, #abc4db 100%);  -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.2) , 2, 0.0 , 0 , 1 );
font-size: 0.8rem;



 }

/* 
 [type="datetime-local"]::-moz-selection{
 margin-left: 100px;
  }
  .ui-datepicker{margin-left:100px} */

.leftHeaderContener{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    height: 50px;
     
}



.centerHeaderContener{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    height: 50px;
}
.rightHeaderContener{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    height: 50px;
}

.icon{
    
    height: 85%;
    padding: 10px;


    
}

.icon:hover{

    /* outline:1px solid #ff0000; */
   

    /* background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%); */
    /* background-image: linear-gradient(#383838 0%, #444343 80%); */
    background-color: rgb(230, 230, 230);
    border-radius: 5px;

    
}

.procesy_input{
    color: rgb(190, 190, 190);
    font-size: 20px;
    padding-top: 15px;

    border: none;
    padding-bottom: 15px;
    /* vertical-align: middle; */
}
.procesy_input:focus{
outline: none;
}

.td_tableProcesy_kalendarz{
   width: 30px;
   min-width: 30px;
   font-size: 0.9rem;
   padding-right: 15px;
}

.td_tableProcesy_poczatek{
   width: 115px;
   min-width: 115px;
   font-size: 0.9rem;
   padding-left: 5px;
   /* background-color: red; */
   /* padding-right: 10px; */
}

.td_tableProcesy_poczatek_alert{
   width: 115px;
   min-width: 115px;
   font-size: 0.9rem;
   padding-left: 5px;
   background-color: rgb(255, 4, 4,0.5);
   /* border: 1px solid red; */
   /* border-radius: 20px; */
   /* padding-right: 10px; */
}

.td_tableProcesy_poczatek_dzien{
   width: 20px;
   min-width: 20px;
   font-size: 0.9rem;
   padding-left: 10px;
   padding-right: 10px;
   /* background-color: red; */
   /* padding-right: 10px; */
}

.td_tableProcesy_poczatek_alert_dzien{
   width: 20px;
   min-width: 20px;
   font-size: 0.9rem;
  padding-left: 10px;
   padding-right: 10px;
   background-color: rgb(255, 4, 4,0.5);
   /* border: 1px solid red; */
   /* border-radius: 20px; */
   /* padding-right: 10px; */
}

.td_tableProcesy_czas{
    width: 40px;
   text-align: center;
  /* min-width: 60px;*/
   font-size: 0.9rem; 
   padding-right: 10px;
   /* padding-left: 5px; */
}

.td_tableProcesy_koniec{
    width: 135px;
   /* text-align: center; */
  /* min-width: 60px;*/
   font-size: 0.9rem; 
   padding-right: 5px;
   /* padding-left: 5px; */
}

.td_tableProcesy_typ{
   /* width: 150px; */
   font-size: 0.8rem;
   padding-right: 10px;
}
.td_tableProcesy_nr{
   width: 75px;
   /* font-weight: bold; */
   font-size: 0.9rem;
   /* border-right: 1px dashed rgb(51, 213, 62); */

}
.td_tableProcesy_nr_stary{
   width: 35px;
   /* font-weight: bold; */
   font-size: 0.9rem;

}

.td_tableProcesy_klient{
   width: 150px;
   font-size: 0.9rem;
   padding-right: 10px;
}

.td_tableProcesy_praca{
   /* width: 150px; */
   font-size: 0.9rem;
   padding-right: 10px;
}

.td_tableProcesy_przeloty{
   /* width: 20px; */
   font-size: 0.9rem;
   padding-right: 15px;
}

.td_tableProcesy_spedycja{
   /* width: 20px; */
   font-size: 0.9rem;
   padding-right: 10px;
   width: 60px;
}

.td_tableProcesy_papier{
   /* width: 20px; */
   font-size: 0.9rem;
   padding-right: 10px;
}

.td_tableProcesy_pliki{
   /* width: 20px; */
   font-size: 0.9rem;
   padding-right: 10px;
}

.td_tableProcesy_ch_box{
   /* width: 20px; */
   font-size: 0.9rem;
   padding-right: 10px;
}

.tytulInput{
  border: none;
  background: transparent;
  font-size: 0.9rem;
  /* width: 100%; */
  width: 280px;

}

  .iconSettings{ width: 17px;
padding-left: 2px;
   margin-left: 10px;
   }



   .td_tableProcesy_papier_wydanie{
      /* text-align: center; */
   }

   .icon_rolka{
      width: 15px;
      margin-right: 2px;
   }