.elementCard {
  /* margin-top: 2rem; */
  border-radius: 0.75rem;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  height: 70px;
  border: 1px solid #0000003c;
  

}

.elementLabelIndeks {
  margin-left: 4px;
  color: #f0fdf4;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 6px 12px;
  background: rgba(74, 74, 74, 0.847);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.elementLabelName {
  color: #353535;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase
}
.elementLabelNameMini {
  color: #353535;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase
}
