
.body{
 height: 50px;
 width: 95vw;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 }

 .input2{
    border: none;
    background-color: transparent;
    width: 125px;
 }

 .select{
border-radius: 5px;
padding-left: 10px;
padding-right: 10px;
border: 1px solid rgb(192, 192, 192);


 }
/* 
 [type="datetime-local"]::-moz-selection{
 margin-left: 100px;
  }
  .ui-datepicker{margin-left:100px} */

.leftHeaderContener{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    height: 50px;
     
}



.centerHeaderContener{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    height: 50px;
}
.rightHeaderContener{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    height: 50px;
}

.icon{
    
    height: 85%;
    padding: 10px;


    
}

.icon:hover{

    /* outline:1px solid #ff0000; */
   

    /* background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%); */
    /* background-image: linear-gradient(#383838 0%, #444343 80%); */
    background-color: rgb(230, 230, 230);
    border-radius: 5px;

    
}

.procesy_input{
    color: rgb(190, 190, 190);
    font-size: 20px;
    padding-top: 15px;

    border: none;
    padding-bottom: 15px;
    /* vertical-align: middle; */
}
.procesy_input:focus{
outline: none;
}
