
.main{
   display: grid;
   grid-template-rows: 60px 1fr 60px;
   /* background-color: #e74a3b; */
  
}

.container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
/* background-color: lightcyan; */
/* width: 700px; */
}

.tableContainer{
   /* padding-top: 50px; */
  height: calc(100vh - 120px);
  /* min-width: 100vw; */
  min-width: 95vw;

   /* max-height: 300px;  */
   overflow: auto;


}

.szczegoly{
   background-color: gray;
  
}
.btn_dodaj_karte{
   width: 150px;
   height: 30px;
   font-size: 0.8rem;
   font-weight: bold;
   color: rgb(219, 219, 219);
   border: 1.5px solid rgb(72, 72, 72);
   background-color: rgb(72, 72, 72);
   border-radius: 10px;
   box-shadow: 3px 3px 3px rgb(29, 29, 29);
   margin-top: 10px;
   margin-bottom: 80px;
}

.btn_dodaj_karte:hover{
   background-image: linear-gradient(#383838 0%, #3a3333 80%);

}



th{
   font-size: 0.9rem;
   position: sticky;
   top:0;
   /* background: #3f3f3f; */
   height: 2rem;
   padding-left: 20px;
   z-index: 2;
   background: rgb(243, 243, 243);
  color: #414040;
  /* border-radius: 30px; */
  /* outline: 1px solid rgb(167, 0, 0); */

}



tr:nth-of-type(2n) {
   /* background: #dbdad6; */
   background: #f7f6f6;
}


/* tr{
 outline: 1px solid #e7e6e3;
} */
/* tr:hover{

   outline: 1px solid #a5a4a2;
} */

.alert{ background:red; }

.alert2{ background: green; }

.bgdanger {
   background-color: #e74a3b;
   background-image: linear-gradient(180deg,#e74a3b 10%,#be2617 100%);
   background-size: cover;
}


   .iconSettings{ width: 15px;
      
    }

   .col_klient{
      min-width: 100px;
   }

   .col_karta{
      min-width: 10px;


   }

   .col_button{
      display: flex;
      align-content: center;
      justify-content: center;
      border: none;
      /* padding-top: 10px; */

     
   }

   .td_checkbox{

      border: none;

   }
   .th_checkbox{
 

   }


   .td_karta{

      border: none;

   }
   .th_karta{
 width: 30px;

   }



.iconMenuBtn{
   width: 18px;
}

.table th
{
  /* background-color: rgb(216, 216, 216); */
  color: rgb(61, 61, 61);
  font-size: 0.9rem;
  outline-style: none;

}

.table tr:nth-child(even) {
  /* background-color:  rgb(238, 238, 238); */
  color: rgb(61, 61, 61);
  font-size: 0.9rem;
  outline-style: none;
  border-bottom: 1px solid rgb(192, 191, 191)  ;

}



.table tr:nth-child(odd) {
  /* background-color: red; */
  outline-style: none;
  font-size: 1rem;
  border-bottom: 1px solid rgb(192, 191, 191) ;
}

.procesor_btn_container{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
   width: 80vw;
   /* background-color: antiquewhite; */
   overflow: auto;
}
.btn_procesor{
   border-radius: 10px;
   border: none;
   width: 100px;
   color: gray;
   font-size: 0.9rem;
   padding: 5px;;
}

.btn_procesor:hover{
   background-color: #383838;
   border-radius: 10px;
   border: none;
   width: 100px;
   color: rgb(204, 203, 203);
   font-size: 0.9rem;
   padding: 5px;;
}

.select{
   border: none;
   background-color: transparent;
   padding-top: 3px;
}