.main {
   display: grid;
   grid-template-rows: 50px 1fr 60px;

}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}

.tableContainer {
   height: calc(100vh - 120px);
   width: 100vw;
   min-width: 95vw;
   overflow: auto;
}

.szczegoly {
   background-color: gray;

}



.tableProcesy th {
   font-size: 0.9rem;
   position: sticky;
   top: 0;
   height: 2rem;
   z-index: 2;
   background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
   -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.2), 2, 0.0, 0, 1);
   color: #828282;
   color: #2c2c2c;
}



tr:nth-of-type(2n) {
   background: #f7f6f6;
}


.alert {
   background: red;
}

.alert2 {
   background: green;
}

.bgdanger {
   background-color: #e74a3b;
   background-image: linear-gradient(180deg, #e74a3b 10%, #be2617 100%);
   background-size: cover;
}


.iconSettings {
   width: 15px;

}

.col_klient {
   min-width: 100px;
}

.col_karta {
   min-width: 10px;
}

.col_button {
   display: flex;
   align-content: center;
   justify-content: center;
   border: none;
}

.td_checkbox {
   border: none;
}

.th_checkbox {}


.td_karta {
   border: none;
}

.th_karta {
   width: 30px;

}



.iconMenuBtn {
   width: 18px;
}

.table tr:nth-child(even) {
   color: rgb(61, 61, 61);
   font-size: 0.9rem;
   outline-style: none;
   border-bottom: 1px solid rgb(192, 191, 191);
}

.table tr:nth-child(odd) {
   outline-style: none;
   font-size: 1rem;
   border-bottom: 1px solid rgb(192, 191, 191);
}

.procesor_btn_main {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100%;
   gap: 15px;
}

.procesor_btn_center {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
   width: 80vw;
   overflow: auto;
}

.procesor_btn_right {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;

}


.btn_procesor {
   background-color: var(--art-input);
   border-radius: 10px;
   border: none;
   min-width: 100px;
   font-size: bold;
   color: gray;
   font-size: 0.9rem;
   padding: 5px;
   padding-left: 10px;
   padding-right: 10px;
}

.btn_procesor:hover {
   background-color: #383838;
   border-radius: 10px;
   border: none;
   min-width: 100px;
   color: rgb(204, 203, 203);
   font-size: 0.9rem;
   padding: 5px;
   padding-left: 10px;
   padding-right: 10px;
}

.btn_procesor_selected {

   background-color: #383838;
   border-radius: 10px;
   border: none;
   min-width: 100px;
   color: rgb(204, 203, 203);
   font-size: 0.9rem;
   padding: 5px;
   padding-left: 10px;
   padding-right: 10px;
}

.select {
   border: none;
   background-color: transparent;
   padding-top: 3px;
}


.th_tableProcesy_poczatek {
   padding-left: 10px;
}

.th_tableProcesy_czas {
   width: 10px;
   background-color: red;
}

.th_tableProcesy_koniec {
   padding-left: 10px;
}

.th_tableProcesy_praca {
   width: 300px;
}

.th_tableProcesy_papier_rodzaj {
   width: 350px;
}

.th_tableProcesy_przeloty {
   width: 70px;
}

.th_tableProcesy_naklad {
   width: 70px;
}

.th_tableProcesy_ark {
   width: 40px;
}