
.container{
/*   
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; */
   display: grid;
   grid-template-rows: 50px 1fr 120px;

   background-color: rgb(244, 251, 255);
   
   width: 150px;
   height: calc(100vh - 120px);
   outline: 1px dashed rgb(231, 231, 231);

}

.data{
      display: flex;

   align-items: center;
   justify-content: center; 
    height: 40px;
   letter-spacing: 3px;
    font-size: 0.9rem;
    background: rgb(146, 192, 253);
    background: rgb(209, 209, 209);


}
.main{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: chartreuse;
   width: 200px;
   height: 200px;
   


}

.title{
         display: flex;

   align-items: center;
   justify-content: center; 
    height: 40px;
   /* letter-spacing: 3px; */
    font-size: 0.8rem;
    background: rgb(146, 192, 253);
    background: rgb(209, 209, 209);

}

.title_praca{
         display: flex;

   align-items: center;
   justify-content: center; 
    height: 35px;
   /* letter-spacing: 3px; */
    font-size: 0.8rem;
    /* background: rgb(146, 192, 253);
    background: rgb(209, 209, 209); */

}
.container_praca{
   border: 1px solid rgb(197, 197, 197);
   /* background-color: red; */
}
.tlo{
   background: greenyellow;
   width: 50%;
}