/* .assets{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: grayscale(100%) blur(10px);
    color: gray;
    border-radius: 30px;
    width: 250px;
    height: 180px;
    margin: 20px;
    box-shadow: 5px 5px 15px gray ;
    display: grid;
    grid-template-rows: 60px 1fr;
    backdrop-filter: grayscale(100%) blur(10px);
} */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    width: 120px;
    /* background-image: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%); */

    
    
}
.container:hover{
    border-bottom: 1px solid rgb(181, 181, 181) ;
}

.containerSelected{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    width: 120px;
    /* border-bottom: 2px solid rgb(181, 181, 181) ; */
    border-bottom: 1px solid rgb(126, 182, 255) ;
    /* border: rgb(126, 182, 255) 1px dashed;
    border-radius: 20px; */
}
.icon{
    width: 60px;
}
.iconSelected{
    width: 60px;
    border-bottom: 1px solid rgb(181, 181, 181) ;
}
.title{
    font-size: 1rem;
    padding-top: 5px;
    color: gray;

}

.btn{
 
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
    color: #fff;
    margin: 5px;
  }