
.body{
   background-image: linear-gradient(#dddddd 0%, #f6f6f6 80%);
   /* background-color: transparent; */
   /* position: absolute; */
   bottom: 0px;
   height: 80px;
   width: 100vw;
   position: fixed;
   z-index: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   
}

.button{
   width: 80px;
   height: 40px;
   border-radius: 5px;

}


