
.body{
   background-image: linear-gradient(#dddddd 0%, #f6f6f6 80%);
   /* background-color: transparent; */
   /* position: absolute; */
   bottom: 0px;
   height: 80px;
   width: 100vw;
   position: fixed;
   z-index: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   
}

.myButton {

	/* background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%); */
   background-image: linear-gradient(to bottom,#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%);
   

	border-radius:5px;
	border:0.5px ;
	display:inline-block;
	cursor:pointer;
	color:#9e9d9d;
	font-family:Arial;
	font-size:14px;
	padding:8px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;

   /* background-color:    linear-gradient(#f2f2f2, #d6d6d6),
   linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
   linear-gradient(#dddddd 0%, #f6f6f6 50%);
background-radius: 0,0,0;
background-insets: 0,1,2;
color: #666666;
effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ); */





}
.myButton {
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#f9f9f9;
	border-radius:10px;
	border:1px solid #c4c4c4;
	display:inline-block;
	cursor:pointer;
	color:#575656;
	font-family:Arial;
	font-size:13px;
	
	padding:8px 50px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}


        



