.container {
  background-color: white;
  margin-right: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: left;
  background-image: linear-gradient(rgb(211, 211, 211) 0%, rgb(228, 228, 228) 50%, rgb(211, 211, 211) 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 1.6rem;
  color: gray;
  font-size: 0.9rem;
  padding-left: 20px;
  margin-top: 15px;

}
.input_oprawa{
  background-color: transparent;
  box-shadow: none;

}
.typ_elementu{
  font-weight: bold;
}