.container {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-bottom: 15px;
}

.select,
.input {
  background-color: white;
  height: 2rem;
  border-radius: 5px;
  border-color: transparent;
  outline: 1px solid rgb(185, 185, 185);
  padding-left: 10px;
}


.col_dane {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  font-size: 0.7rem;
  padding-left: 5px;
}