* {
    margin: 0px;
}

.headerMain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: linear-gradient(#dddddd 0%, #f6f6f6 80%);

    background-image: linear-gradient(#383838 0%, #0a0a0a 80%);
    /* top: 0px; */
    height: 50px;
    width: 100vw;
    /* position: fixed; */
   
}

.left {

    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10px;

    color: whitesmoke;
    height: 50px;
}

.center {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding-right: 10px;
}

.right {

    display: flex;
    align-items: center;
    justify-content: end;
    height: 50px;
    padding-right: 10px;
}

.btn_x {
    width: 30px;
}


.btn_x:hover {

    background-color: rgb(70, 69, 69);
    border-radius: 5px;

}

.btn{
    width: 150px;
    height: 25px;
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(219, 219, 219);
    border: 1.5px solid rgb(72, 72, 72);
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(29, 29, 29);
    margin-right: 100px;
}

.btn:hover{
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
}

.btn_disabled{
    width: 125px;
    height: 25px;
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(129, 129, 129);
    border: 1.5px solid rgb(72, 72, 72);
    background-color: transparent;
    border-radius: 10px;
    margin-right: 100px;
    /* box-shadow: 3px 3px 3px rgb(133, 133, 133); */
  
  }

  .buttons{
    display: flex;
    justify-content: end;
    align-items: center;
    gap:20px;
  }