/* @import url(/src/Color.module.css); */

.container {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-bottom: 15px;
  /* background-color: #5983FC; */
  /* background-image: linear-gradient(0deg, rgba(89, 131, 252, 1) 0%, rgba(41, 53, 86, 1) 30%, #383838  100%); */
  
}

.produkt {
  border-radius: 10px;
  width: calc(100vw - 40px);
  height: calc(100% - 20px);
 
 


}

.produkt_menu_button{
  display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding-right: 30px;
  gap:10px;
 
  
}


/* .header {
  display: flex;
  align-items: center;
  justify-content: left;
  background-image: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 1.6rem;
  color: #fff;
  font-size: 0.9rem;
  padding-left: 20px;
} */

.main {
  overflow: auto;
  max-height: 200px;
  
}

/* pasek przewijania */
.main::-webkit-scrollbar {
  width: 0.8em;
  height: 10px;
}

.main::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);

}

.main::-webkit-scrollbar-thumb {
  background-image: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
  /* outline: 1px solid slategrey; */
  border-radius: 20px;
}

.main::-webkit-scrollbar-corner {
  background-image: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
  
}


.table input {
  background-color: transparent;
  box-shadow: none;
}

.col1,
.col2,
.col5 {
  width: 50px;
}

.col3 {
  width: 100px;
}

.table th,
.table tr:nth-child(even) {
  background-color: rgb(178, 196, 214);
  color: rgb(61, 61, 61);
  font-size: 0.9rem;
  outline-style: none;
}

.table tr:nth-child(odd) {
  background-color: rgb(212, 225, 238);
  outline-style: none;
}




.select,
.input {
  background-color: rgb(236, 236, 236);
  height: 1.7rem;
  border-radius: 5px;
  border-color: transparent;
  outline: 1px solid rgb(206, 206, 206);
  padding-left: 10px;
}


.input2 {
  background-color: rgb(168, 168, 168);
  height: 2rem;
  height: 2rem;
  border-radius: 5px;
  border-color: transparent;
  outline: 1px solid rgb(185, 185, 185);
  padding-left: 10px;
  margin-right: 20px;
}


.select_oprawa {
  background-color: rgb(236, 236, 236);
  height: 1.7rem;
  border-radius: 5px;
  border-color: transparent;
  outline: 1px solid rgb(206, 206, 206);
  padding-left: 10px;
}


.main2{
  /* padding: 5px 20px; */
  /* margin-top: 20px; */
  background-color: transparent;
 display: flex;
 flex-direction: column;
 grid-template-columns: 220px 1fr   110px 110px 110px;
 gap:5px;
margin-bottom: 0px;
 
 /* width: 100vw; */
}
.row1{
  display: grid;
  grid-template-columns: 200px 70px  50px 50px 50px 100px 310px 1fr;
  gap: 10px;
  background: transparent;
}

hr{
  color: rgb(95, 95, 95);

}

.col_dane {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.label {
  font-size: 0.7rem;
  padding-left: 5px;
  color: rgb(190, 190, 190);
  padding-bottom: 2px;
}

.menu_produkty{

  padding-top: 18px;
  width: 15px;
  /* background-color: red; */
}

.iconMenuBtn{
  width: 25px;

}
/* .iconMenuBtn:hover{
  width: 30px;
  rotate: 45deg;
  
} */
.iconMenuBtn:active{
  rotate: 65deg;
}

.produkt_menu_button_sub{
  display: flex;
  gap:20px;
  align-items: center;
  
  
}

.produkt_menu_button_sub_16{
  height: 45px;
}