.container {
  /* display: flex;
  flex-direction: column;*/
  justify-content: center; 
  align-items: center;
  /* background-color: rgb(216, 216, 216); */
  margin-left: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 40px;
  /* width: 95vw; */
}


.procesy_menu_button{
  display: flex;
 flex-direction: row;
 justify-content: center; 
 align-items: center;
 /* justify-content: space-between; */
 padding-right: 30px;
  gap:20px;
  border-bottom: 1px solid gray;
  
}

.iconMenuBtn{
  width: 25px;
  /* padding-top: 20px; */
  /* margin-top: 22px; */
  

}

.iconMenuBtn:hover{
  rotate: 45deg;
  scale: 150%;
 
  
}
.iconMenuBtn:active{
  rotate: 65deg;
}

.expand {
  height: 15px;
  margin-right: 10px;
}


.row1{
  display: grid;
  /* height: 10px; */
  grid-template-columns: 20px 160px 170px 110px  120px 120px 1fr;
  gap: 10px;
  /* margin-bottom: 0px; */
}

.grupa_container{
  margin-left: 30px;
  margin-bottom: 5px;
  display: flex;
  gap:20px;
}

.wykonania_container{
  
  margin-left: 30px;
  margin-bottom: 5px;


}


.col_dane {
  position: relative;
  display: flex;
  flex-direction: column;
  /* width: 100%; */width: 200px;
  /* gap: 20px; */
}
.label {
  font-size: 0.7rem;
  padding-left: 5px;
  color:rgb(204, 204, 204);
  padding-bottom: 3px;
}
.select,
.input {
  background-color: rgb(175, 175, 175);
  height: 1.5rem;
  border-radius: 5px;
  border-color: transparent;
  outline: 1px solid rgb(185, 185, 185);
  padding-left: 10px;
  /* font-size: 0.9rem; */
}
