.container {
  background-color: white;
  margin-left: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 15px;
}




.expand {
  height: 15px;
  margin-right: 10px;
}


.row1{
  display: grid;
  /* height: 10px; */
  grid-template-columns: 20px 100px 170px 110px 1fr 3fr 120px 120px 20px;
  gap: 10px;
  margin-bottom: 10px;
}

.col_dane {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.label {
  font-size: 0.7rem;
  padding-left: 5px;
}
.select,
.input {
  background-color: white;
  height: 1.5rem;
  border-radius: 5px;
  border-color: transparent;
  outline: 1px solid rgb(185, 185, 185);
  padding-left: 10px;
  /* font-size: 0.9rem; */
}
