
.body{
  /*
  background-color: linear-gradient( to right, #75b022 5%, #588a1b 95%);
  background: linear-gradient( to right, #47bfff 5%, #1a44c2 60%);
   
  */  
  /* background: linear-gradient( to right, #75b022 5%, #588a1b 95%); */
  position: fixed;
  width: 99%;
  top:0;
  
  border-style: solid;
  border-radius: 10px;
  border-width: 0.5px;
  border-color: var(--border-color-light);
  background-color: var(--body-dark);
  
  height: 100px;
  display: flex;
  justify-content: right;
  align-items: center;
 margin: 10px 10px 10px 10px;

  
}


