
.body{
  /*
  background-color: linear-gradient( to right, #75b022 5%, #588a1b 95%);
  background: linear-gradient( to right, #47bfff 5%, #1a44c2 60%);
   
  */  
  background: linear-gradient( to right, #75b022 5%, #588a1b 95%);
  height: 50px;
  display: flex;
  justify-content: right;
  align-items: center;

  padding-top: 20px;
  padding-right: 20px;
}


