.loginForm{
    font-family: Google Sans,-apple-system,BlinkMacSystemFont,sans-serif;
    background-color: rgba(1,32,93,0.6);
    color: white;
}

.myButton {
	/* box-shadow: 0px 0px 0px 2px #9fb4f2; */
	/* background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%); */
	background-image: linear-gradient(#383838 0%, #0a0a0a 80%);
	/* background-color:#7892c2; */
	border-radius:10px;
	/* border:1px solid #4e6096; */
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:8px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background-image: linear-gradient(#302e2e 0%, #444343 80%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}