
.body{
    font-family: Calibri;
    /* border-bottom: 1px solid rgb(73, 73, 73,0.5); */
    /* height: 50px; */
    padding-left: 10px;
    font-size: 14px;
    display: grid;
    grid-template-columns: 20px 110px 60px 30px auto 120px;

    padding-top: 8px;
    padding-bottom: 8px;
    
}

.body:hover{
    /* background-image: linear-gradient(to top, #ffe000, #d6c439); */
    outline: 2px solid rgb(163, 163, 161);

}

.klient{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
}
.czas{
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    
}



.druk{

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;

}

.nrzlecenia{

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;


}

.bold{
    font-weight: bold;
}



.koniecdruku{
    font-size: 13px;
    
}

.checbox{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.checboxinput{

}





.wydrukowane{
    background-image: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
}
.ripzaswiecone{
    background-image: linear-gradient(to left bottom, #b8e356 5%, #a5cc52 100%);
}
    
.akcept{
    background-image: linear-gradient(to bottom, #d7e6f5 5%, #abc4db 100%);
}
.nowe{
    background-image: linear-gradient(#dddddd 0%, #f6f6f6 80%);
}

.pliki{
    background-image: linear-gradient(to right, #d7e6f5 30%, #f6f6f6 80%);
}



