

.menu_produkty{

  padding-top: 18px;
  width: 15px;
  /* background-color: red; */
}

.iconMenuBtn{
  width: 35px;

}
.iconMenuBtn2{
  width: 15px;

}
.iconMenuBtn:hover{
scale: 125%
  
}
.iconMenuBtn:active{
  rotate: 65deg;
}

.produkt_menu_button_sub{
  display: flex;
  gap:20px;
  align-items: center;
  
  
}

.produkt_menu_button_sub_16{
  padding-top: 15px;
  height: 45px;
  gap: 10px;
}


.produkt_scal{
  display: flex;
  padding-top: 15px;
  height: 45px;
  gap: 5px;
  /* outline: 1px solid rgb(218, 218, 218); */

}
.scal_po_ile{
   width: 30px;
  height: 30px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: rgb(82, 82, 82);
  font-weight: bold;
  background: transparent;
  border: 1px solid rgb(214, 214, 214);
  /* border: none; */
  /* background-color: rgb(230, 240, 253); */
  box-shadow: 1px 1px 1px rgb(141, 141, 141);
  text-align: center;

}

.BTN_12_24_16_32{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  font-size: 0.9rem;
  background: transparent;
  border: 1px solid rgb(214, 214, 214);
  /* border: none; */
  /* background-color: rgb(230, 240, 253); */
  box-shadow: 1px 1px 1px rgb(141, 141, 141);
}
.BTN_12_24_16_32:hover{
  background-color: rgb(215, 215, 215);
}
.BTN_12_24_16_32:active{
  box-shadow: none;
  /* box-shadow: 2px 2px 2px rgb(141, 141, 141) */
}


.ulotki_dodaj_legi_btn{
  /* width: 30px; */
  height: 30px;
  border-radius: 5px;
  font-size: 0.9rem;
  background: transparent;
  border: 1px solid rgb(214, 214, 214);
  /* border: none; */
  /* background-color: rgb(230, 240, 253); */
  box-shadow: 1px 1px 1px rgb(141, 141, 141);
  padding-left: 10px;
  padding-right: 10px;
}

.ulotki_dodaj_legi_btn:hover{
  background-color: rgb(215, 215, 215);
}
.ulotki_dodaj_legi_btn:active{
  box-shadow: none;
  /* box-shadow: 2px 2px 2px rgb(141, 141, 141) */
}