.window{
    position: absolute;
    left:200px;
    top: 200px;
    width: 500px;
    height: 130px;
  min-width: 250px;
    background-color: rgb(198, 198, 198);
    border: 1px solid rgb(143, 143, 143);
    border-radius: 10px;
   z-index: 4;
   display: flex;
   flex-direction: column;
   gap: 10px;
   /* grid-template-rows: 30px 1fr 1fr ; */
   box-shadow: 10px 10px 10px gray;
  }
    
    .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
     width: 100%;
  
      padding-left: 10px;
      padding-right: 10px;
      /* background-image: linear-gradient(rgb(97, 96, 96) 0%,rgb(106, 102, 102) 50%,rgb(81, 78, 78) 100%); */
      /* background-image: linear-gradient(rgb(238, 15, 26) 0%, rgb(255, 87, 95) 50%, rgb(238, 15, 26) 100%); */
      background-image: linear-gradient(rgb(255, 0, 0) 0%, rgb(223, 4, 4) 50%, rgb(255, 0, 0) 100%);
      /* background-image: linear-gradient(rgb(144, 144, 144) 0%, rgb(163, 163, 163) 50%, rgb(144, 144, 144) 100%); */
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: 2rem;
      color: #fff;
    }
    .title{
      display: flex;
      justify-content: start;
      align-items: center;
      color: #fff;
      font-size: 0.9rem;
      /* font-weight: bold; */
      padding-top: 12px;
      padding-left: 7px;
    }

    .labelinput{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }

    .labelinput_nIP
    {
        display: grid;
        grid-template-columns: 65px 1fr 1fr ;
      
    }
    .label{
       
        padding-left: 10px;
        font-size: 13px;
        padding-bottom: 3px;
    }


    .btn_delete{
        /* background-image: linear-gradient(rgb(161, 161, 161) 0%,rgb(182, 182, 182) 50%,rgb(161, 161, 161) 100%); */
        /* background-image: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%); */
        background-image: linear-gradient(rgb(255, 0, 0) 0%, rgb(223, 4, 4) 50%, rgb(255, 0, 0) 100%);
        
        width:  150px;
        height: 30px;
        border-radius: 10px;
        border-style: none;
        color: #fff;
        font-size: 1rem;
        margin-top: 10px;
        position: absolute;
        bottom: 10px;
        right: 175px
      }



    .firma{
        padding-left: 10px;
    }
.alert_label{
  padding-left: 15px;
  font-weight: bold;
  color:rgb(82, 82, 82)
}
