.nazwa_input{
  width: 20px;
  background: transparent;
/* background-color: rgb(231, 231, 231); */
border: none;
/* border-bottom: 1px dashed rgb(199, 199, 199); */
  outline: none;
  font-size: 0.9rem;
  color: rgb(109, 109, 109);
  padding: 0px 0px 0px 5px;
  
}

/* .nazwa_input:active{
  width: 100%;
  border: none;
  
} */