.insertContainer{
  position: fixed;
  top: 200px;
  bottom: 200px;
  left: 200px;
  right: 200px;
  background-image: linear-gradient(135deg,rgb(221, 230, 223) 30%, rgb(191, 209, 194) 100%);
  /* background-color: rgb(191, 209, 194); */

  border: 1px solid rgb(143, 143, 143);
  border-radius: 10px;
 z-index: 3;
 display: grid;
 grid-template-rows: 45px 1fr 45px ;

}

.header{
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 10px;
  padding-right: 10px;
  background-image: linear-gradient(rgb(95, 186, 21) 0%,rgb(110, 209, 29) 50%,rgb(95, 186, 21) 100%); 

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 2rem;
  color: #fff;
  /* font-weight: bold; */
 
}
.title{
  display: flex;
  justify-content: start;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  /* font-weight: bold; */
  padding-top: 2px;
  padding-left: 10px;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
  /* font-weight: bold; */
  padding-top: 8px;
  padding-left: 10px;

  gap:20px;
  padding-bottom: 20px;
}

.btn{
  background-image: linear-gradient(rgb(95, 186, 21) 0%,rgb(110, 209, 29) 50%,rgb(95, 186, 21) 100%); 
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border-style: none;
  color: #fff;

}