
.note{
    background-color: #fff;
    border-radius: 6px;
    padding: 12px 20px;
    text-align: left;
    margin:10px
}

.bodyprzerwa{
    background-color: #ffae00;
}

.descriptions{
    display: flex;
    flex-direction: row;
    color: #282c34;
    font-style: italic;
    margin-bottom: 20px;
}

.note p{
    color: #000;
    font-weight: bold;
    cursor: pointer;
}
.poczatek{
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.note button{
    margin: 2px;
    background-color: rgb(183, 179, 190);
    /* background-color: rgb(129,70,240); */
    color: #fff;
    border: 0;
    border-radius: 4px;
    padding:  4px 8px;
    cursor: pointer;
}
.note button.wydrukowane{
    background-color: rgb(17, 167, 80);
}
.note button.niewydrukowane{
    background-color: rgb(183, 179, 190);
}

.note button.przygotowane{
    background-color: rgb(19, 78, 185);
}



/* .note button:hover{
    background-color: rgb(129,70,200);
} */
.note button.delete{
    background-color: rgb(238,67,55);
}
.note button.delete:hover{
    background-color: rgb(201, 41, 29);
}


.cosladnegozi{
    background-color: (#f0ff35, #a9ff00),
        linear-gradient(  #ee8036 25%, #80c800 80%);
    }
