

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;

  position: relative;
  width: 100%;
  /* Ważne dla pozycjonowania rozwijanego menu */

  /* padding-bottom: 10px; */
  /* background-color: #00ff0012; */
}