.tableContainer {
   position: relative;
   width: 100vw;
   overflow: auto;
}

.bodyContainer {
   overflow: auto;
}

.szczegoly {
   background-color: gray;
}

.btn_dodaj_karte {
   width: 150px;
   height: 30px;
   font-size: 0.8rem;
   font-weight: bold;
   color: rgb(219, 219, 219);
   border: 1.5px solid rgb(72, 72, 72);
   background-color: rgb(72, 72, 72);
   border-radius: 10px;
   box-shadow: 3px 3px 3px rgb(29, 29, 29);
   margin-top: 10px;
   margin-bottom: 20px;
}

.btn_dodaj_karte:hover {
   background-image: linear-gradient(#383838 0%, #3a3333 80%);
}

.table_tr>th {
   font-size: 0.9rem;
   position: sticky;
   top: 0;
   height: 2rem;
   padding-left: 20px;
   z-index: 2;
   background: rgb(246, 212, 45);
   color: #525151;
}

.row_zamowienia:nth-of-type(2n) {
   background: #f7f6f6;
   outline: 1px solid rgb(189, 189, 189);
}

.row_zamowienia:nth-of-type(1n):hover {
   background-color: #9df450;
   background-color: #b3b3b3;
   color: white;
}

.row_zamowienia:nth-of-type(2n):hover {
   background-color: #9df450;
   background-color: #b3b3b3;
   color: white;
}

.alert {
   background: red;
}

.alert2 {
   background: green;
}

.bgdanger {
   background-color: #e74a3b;
   background-image: linear-gradient(180deg, #e74a3b 10%, #be2617 100%);
   background-size: cover;
}

.iconSettings {
   width: 15px;
}




.td_checkbox {
   align-items: center;
   border: none;
   padding-right: 5px;
}

.th_checkbox2 {
   align-items: center;
   /* padding-right: 5px; */

}


.td_karta {

   border: none;
   text-align: center;
}

.th_karta {
   width: 30px;

}



.iconMenuBtn {
   width: 18px;
}

.table th {
   color: rgb(61, 61, 61);
   font-size: 0.9rem;
   outline-style: none;
}

.table tr:nth-child(even) {
   color: rgb(61, 61, 61);
   font-size: 0.9rem;
   outline-style: none;
   border-bottom: 1px solid rgb(192, 191, 191);


}

.table tr:nth-child(odd) {
   outline-style: none;
   font-size: 1rem;
   border-bottom: 1px solid rgb(192, 191, 191);
}


.iconErrorTable {
   width: 20px;
}


.iconLockTable {
   width: 25px;
   padding: 2px;
}


.iconErrorTable {
   width: 20px;
}

.col_alert{
   text-align: center;
   width: 25px;
}
.col_etap {
   width: 130px;
}

.iconLockTable {
   width: 25px;
   padding: 2px;
}


.col_nr {
   width: 30px;


}

.col_checkbox {
   width: 25px;
}


.col_klient {
   width: 100px;
}

.col_praca {
   width: 200px;
}

.col_rok {
   width: 30px;
}

.col_karta {
   min-width: 10px;
}

.col_firma {
   width: 100px;
}

.col_status {
   width: 100px;
}

.col_netto {
   width: 100px;
}

.col_strony{
   width: 50px;
}

.col_spedycja{
   width: 100px;
}

.col_uwagi {
   /* background-color: red; */
   max-width: 100px;
   max-height: 50px;
   word-wrap: break-word;
   /* width: 120px; */
   /* max-width: fit-content; */
}

.col_button {
   display: flex;
   align-content: center;
   justify-content: center;
   border: none;
   /* padding-top: 10px; */


}
.select_opiekun_zamowienia {
   background: transparent;
   width: 100px;
   color: rgb(61, 61, 61);
   font-weight: bold;
   font-size: 0.7rem;
   outline-style: none;
   border: none;
   border-radius: 5px;
   height: 25px;
   font-size: 0.9rem;

}

.select_opiekun_zamowienia>option {
   background-color: rgb(31, 31, 31);
   color: rgb(209, 209, 209);

}

.select_klient_zamowienia {
   background: transparent;
   width: 100px;
   color: rgb(61, 61, 61);
   font-weight: bold;
   font-size: 0.7rem;
   outline-style: none;
   border: none;
   border-radius: 5px;
   height: 25px;
   font-size: 0.9rem;

}

.select_klient_zamowienia>option {
   background-color: rgb(31, 31, 31);
   color: rgb(209, 209, 209);

}

.select_klient_zamowienia::-webkit-scrollbar {
   display: none;
   /* height: 10px; */
}
.select_klient_zamowienia::-webkit-scrollbar-track {
   /* -webkit-box-shadow: inset transparent */
   /* background: transparent; */
}

.select_klient_zamowienia::-webkit-scrollbar-thumb {
   /* background-image: linear-gradient(rgb(240, 151, 50) 0%,rgb(250, 187, 114) 50%,rgb(240, 151, 50) 100%); */
   /* border-radius: 5px; */
   /* outline: 1px solid slategrey; */
}