.container{
    /* fioletowe
    background-image: linear-gradient(#764abc 0%,  #9a6be6 80%); */

    /* niebieskie */
    /* background-image: linear-gradient(#264f76 0%,  #4584be 80%); */

    /* background-image: linear-gradient(#505050 0%,  #7a7a7a 80%); */
    /* background-image: url(https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80); */
    /* background-image: url(../../svg/tlo4.jpg); */

    background-position: center;
    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 224, 224);
}

.row{
    display: flex;
     
}
.kafle{

    display: flex;
    justify-content: start;
    align-items: center;
    backdrop-filter: grayscale(100%) blur(10px);

 

    /* background-color: #2b2b2c; */
    /* background-color: rgb(231, 230, 230); */

    /* background-image: linear-gradient(#643ea0 0%,  #9a6be6 80%);
    background-image: linear-gradient(#643ea0 0%,  #9a6be6 80%); */

    color: rgb(134, 134, 134);
    font-weight: bold;
    /* border: 1px solid  rgb(153, 153, 153); */
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */
    border-radius: 10px;

    width: calc(100vh - 500px);
    height: 60px;
    margin: 20px;
    box-shadow: 2px 2px 2px rgb(172, 171, 171);
  background-color: whitesmoke;
  

}

.kafle:hover{
    /* background-image: linear-gradient(#2b2b2c 0%, #38383a 80%); */
    /* backdrop-filter: grayscale(40%) blur(10px); */
    /* backdrop-filter: none; */
    /* outline: grey 1px solid; */
    background-color: rgb(233, 240, 250);

}



.center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .zamowienia{
    width: 50px;
    height: 80px;
    background-image: linear-gradient(rgb(58, 99, 153) 0%, rgb(93, 135, 190)50%, rgb(58, 99, 153) 100%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 20px;
  }
  .zlecenie{
    width: 50px;
    height: 80px;
    background-image: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 20px;
  }


  .ctp{
    width: 50px;
    height: 80px;
    background-image: linear-gradient(rgb(95, 186, 21) 0%, rgb(110, 209, 29) 50%, rgb(95, 186, 21) 100%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 20px;
  }

  .druk{
    width: 50px;
    height: 80px;
    background-image: linear-gradient(rgb(221, 200, 14) 0%,rgb(241, 222, 48) 50%,rgb(221, 200, 14) 100%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 20px;
  }
  
  .falcowanie{
    width: 50px;
    height: 80px;

    background-image: linear-gradient(rgb(240, 151, 50) 0%,rgb(255, 176, 85) 50%,rgb(240, 151, 50) 100%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 20px;
  }

  
  .oprawa{
    width: 50px;
    height: 80px;
    background-image: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 20px;
  }


  .uv{
    width: 50px;
    height: 80px;
    background-image: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 20px;
  }





  .magazyn{
    width: 30px;
    height: 60px;
    background-image: linear-gradient(rgb(160, 160, 160) 0%, rgb(192, 192, 192)  50%, rgb(160, 160, 160)  100%);
    background-image: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 20px;
  }
  .magazyn:hover{

    background-image: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);

  }
