
.body{
 /* background-image: linear-gradient(#383838 0%, #0a0a0a 80%);
 background-image: linear-gradient(#0a0a0a 0%, #292929  50%,#0a0a0a  100%); */

 /* top: 0px; */
 height: 50px;
 width: 95vw;
 /* position: fixed;
 z-index: 1; */

 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 background-color: rgb(212, 212, 212);
 background-image: linear-gradient(#383838 0%, #0a0a0a 80%);
 /* border-bottom:1px solid #bebdbd; */
 /* border-radius: 10px; */
 border-top-left-radius: 15px;
 border-top-right-radius: 15px;
 /* margin-bottom: 10px; */
}
.title{
    font-size: 1.3rem;
    color: whitesmoke;
    /* font-weight: bold; */
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 /* width: 700px; */
 }


.leftHeaderContener{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    height: 50px;
     
}



.centerHeaderContener{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    height: 50px;
}
.rightHeaderContener{
    display: flex;
    justify-content: right;
    align-items: center;
    /* padding-right: 10px; */
    height: 50px;
}

.icon{
    
    height: 90%;
    padding: 10px;

    /* margin-right: 5px;
    marg */
    margin:10px

    
}

.icon:hover{

    /* outline:1px solid #ff0000; */
   

    /* background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%); */
    /* background-image: linear-gradient(#383838 0%, #444343 80%); */
    background-color: red;
    /* border-top-right-radius: 15px; */
    border-radius: 10px;
    /* border-top-right-radius: 10px; */
/* margin-right: 5px; */

    
}

.procesy_input{
    color: rgb(190, 190, 190);
    font-size: 20px;
    padding-top: 15px;

    border: none;
    padding-bottom: 15px;
    /* vertical-align: middle; */
}
.procesy_input:focus{
outline: none;
}
