.dane{
  /* background-color: rgb(194, 231, 255); */
  background-color: ga;
  display: grid;
  grid-template-columns: 170px 1fr 170px 170px;
  padding: 10px;
  gap:10px;
  border-bottom: 1px dashed rgb(231, 242, 250);
}

.col{
    display: flex;
    flex-direction: column;
  }

.col .label
{
  font-size: 0.8rem;
  
  }

 select, input{
  background-color: rgb(231, 242, 250);
    height: 2.5rem;
    border-radius: 5px;
    border-color: transparent;
   /* outline: 1px solid gray; */
  }




