@import url(/src/Color.module.css);

.dane{
  /* background-color: rgb(194, 231, 255); */
  background-color: transparent;
  display: grid;
  grid-template-columns: 170px 1fr 170px 170px;
  padding: 5px 10px;
  gap:10px;
  /* border-bottom: 1px solid rgb(192, 192, 192); */
  
}

.col{
    display: flex;
    flex-direction: column;
  }

.col .label
{
  font-size: 0.8rem;
  
  }

 select, input{
  background-color: var(--mr-gr-dane-input);
    height: 2.5rem;
    border-radius: 5px;
    border-color: transparent;
   /* outline: 1px solid gray; */
   box-shadow: 2px 2px 3px rgb(159, 159, 159);
  }




