.elementy{
  background-color: #fff;
  /* border: 1px dashed gray; */
  display: flex;
  flex-direction: row;
 justify-content: center;
 align-items: center;
  /* margin-left: 50px;
  margin-right: 50px; */
  
  padding: 10px;
  gap: 10px;
  /* width: 100%; */
  overflow: hidden;

}
.element{
  display: grid;
  grid-template-columns: 150px 150px 100px 50px 100px 100px 50px 50px;
  gap:5px;

}
/* .col{
  display: grid;
  grid-template-columns: 150px 1fr;
} */

.label
{
font-size: 0.8rem;

}

.elementKafel{
  outline: 1px solid rgb(182, 182, 182);
  border-radius: 10px;
  width: 350px;
  height: 14rem;
}

.elementKafel .col{
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  margin: 5px 10px;
  /* align-items: end; */

}

.elementKafel .label{
  font-size: 0.8rem;
  margin-bottom: 2px;
 
  color: rgb(180, 179, 179);

}
.elementKafel input{
  height: 1.5rem;
  padding: 5px;
  font-size: 0.8rem;
  background-color: rgb(255, 219, 165);
  background-color: rgb(216, 245, 216);
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(209, 160, 100); */
  /* background-color: rgb(107, 158, 224); */
  background-image: linear-gradient(rgb(240, 151, 50) 0%,rgb(255, 176, 85) 50%,rgb(240, 151, 50) 100%);
  background-image: linear-gradient(rgb(95, 186, 21) 0%,rgb(110, 209, 29) 50%,rgb(95, 186, 21) 100%); 

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 2rem;
  color: #fff;
  font-weight: bold;

}