.container{
    display: flex;
    justify-content: center;
    background-color: gray;
    background-image: linear-gradient(rgb(97, 96, 96) 0%,rgb(106, 102, 102) 50%,rgb(81, 78, 78) 100%);
    /* background-image: linear-gradient(rgb(32, 32, 32) 0%,rgb(71, 71, 71) 50%,rgb(32,32,32) 100%); */
    color: white;
  
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    gap: 20px;

}
.btn{
    width: 150px;
    height: 30px;
    font-size: 0.9rem;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(199, 196, 196);
  
  }
