.container{
    /* background-image: linear-gradient(#69c2f5  0%, #54a0e7 80%); */
    background-image: linear-gradient(rgb(107, 158, 224) 0%,rgb(126, 182, 255) 50%,rgb(107, 158, 224) 100%);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}