
.produkty{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  gap: 10px;

}

.produktyContainer .label
{
  font-size: 0.8rem;

  }

.produkt{
  display: grid;
  grid-template-columns: 170px 1fr 200px 110px 110px 110px;
  padding: 10px;
  gap:10px;

}

.col{
  display: flex;
  flex-direction: column;
}

.col .label
{
font-size: 0.8rem;

}


.produktKafel{
  outline: 1px solid rgb(182, 182, 182);
  border-radius: 10px;
  width: 800px;
  height: 200px;
 
 
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(209, 160, 100); */
  /* background-color: rgb(107, 158, 224); */
  background-image: linear-gradient(rgb(107, 158, 224) 0%,rgb(126, 182, 255) 50%,rgb(107, 158, 224) 100%);

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 40px;
  color: #fff;
  font-weight: bold;
}
.produktKafel .col{
  display:flex;
  margin: 10px;
  /* align-items: end; */

}
.produktKafel .label{
  font-size: 0.8rem;
  margin-bottom: 2px;
 
  color: rgb(180, 179, 179);
}
.produktKafel input{
  height: 2rem;
}
.center{
  display: grid;
  grid-template-columns: 1fr 150px;

}