.produkty{
  background-color: rgb(57, 122, 122)ec;
  display: grid;
  grid-template-columns: 1fr; 
  gap:10px;
}

.produktyContainer .label
{
  font-size: 0.8rem;

  }

.produkt{
  display: grid;
  grid-template-columns: 150px 1fr 200px 100px 100px 100px;
  padding: 10px;
  gap:10px;

}

.col{
  display: flex;
  flex-direction: column;
}

.col .label
{
font-size: 0.8rem;

}