.zestawy{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  gap: 20px;
padding-bottom: 20px;
}
.zestaw{
 
  /* outline: 1px solid rgb(248, 141, 1); */
  background-image: linear-gradient(135deg,rgb(235, 235, 235) 0%, rgb(177, 175, 175) 100%);
  /* background-color: rgb(240, 211, 211); */
  border-radius: 10px;
  width: 400px;
  height: 10rem;
  box-shadow: 8px 8px 8px rgb(159, 159, 159);


}
.zestawyKafel input{
  height: 1.5rem;
  padding: 5px;
  font-size: 0.8rem;
  background-color: rgb(255, 229, 189);

}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgb(177, 38, 38) 0%,rgb(211, 77, 77) 50%,rgb(177, 38, 38) 100%);
  background-image: linear-gradient(rgb(61, 19, 19) 0%,rgb(110, 36, 36) 50%,rgb(61, 19, 19) 100%);
  background-image: linear-gradient(rgb(97, 96, 96) 0%,rgb(106, 102, 102) 50%,rgb(81, 78, 78) 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 2rem;
  color: #fff;

}
