
.id{
  /* width: 10px; */
}

.select_papier_gramatura {
  background-color: transparent;
  border: none;
  text-align: center;
  width: 100px;
}
.select_papier_wykonczenie {
  background-color: transparent;
  border: none;
  text-align: left;
  width: 50px;
}

.select_papier_powleczenie {
  background-color: transparent;
  border: none;
  text-align: left;
  width: 150px;
}


.select_papier_bulk {
  background-color: transparent;
  border: none;
  text-align: right;
  width: 50px;

}



.nazwa{
  /* background-color: red; */
  /* width:200px; */
padding-left: 30px;

}
.wykonczenie{
  /* width: 60px; */
  text-align: center;
}

.grupa{
  width: 150px;
}

.uwagi{
  border: none;
  background-color: transparent;

  /* border-bottom: 1px dashed gray; */
}

.icon{
  padding-top: 3px;
  width: 15px;
  margin-right: 10px;
}

.row_papier{
  margin-left: 50px;
  }
  .tr:hover{
    background-color: rgb(226, 226, 226);
  
  }
  
  .tr_insert{
    background-color: rgb(196, 255, 206);
  }
  .tr_insert:nth-of-type(2n){
    background-color: rgb(196, 255, 206);
  }
  
  .tr_update{
    background-color: rgb(242, 243, 160);
  }
  .tr_update:nth-of-type(2n){
    background-color: rgb(242, 243, 160);
  }
  
  .tr_delete{
    background-color: rgb(243, 160, 160);
  }
  .tr_delete:nth-of-type(2n){
    background-color: rgb(243, 160, 160);
  }
  
  .tr_select{
    background-color: rgb(183, 183, 183);
    
    
  }
  .tr_select:nth-of-type(2n){
    background-color: rgb(183, 183, 183);
  }
  

  

  
  .main{
      overflow-y: auto;
  }
  
  .main::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
     
    /* Handle */
    .main::-webkit-scrollbar-thumb {
      background-image: linear-gradient(90deg, rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
    }
    
    /* Handle on hover */
    .main::-webkit-scrollbar-thumb:hover {
      background-image: linear-gradient(90deg, rgb(107, 158, 224) 0%, rgb(137, 188, 254) 50%, rgb(107, 158, 224) 100%);
    }
  
    .input_info{
      border: none;
      background-color: transparent;
  }

  .tr_select > td {
    font-size: 0.9rem;
    height: 2rem;
    padding-left: 20px;
    border-bottom: 1px solid #dbdad6;
  }

  /* .tr_delete .tr_insert .tr_update  */