.row_papier{
margin-left: 50px;
}
.tr:hover{
    background-color: rgb(224, 98, 98);
}

.tr_insert{
  background-color: rgb(196, 255, 206);
}
.tr_insert:nth-of-type(2n){
  background-color: rgb(196, 255, 206);
}

.tr_update{
  background-color: rgb(242, 243, 160);
}
.tr_update:nth-of-type(2n){
  background-color: rgb(242, 243, 160);
}

.tr_delete{
  background-color: rgb(243, 160, 160);
}
.tr_delete:nth-of-type(2n){
  background-color: rgb(243, 160, 160);
}

.tr_select{
  background-image: linear-gradient( rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
  
}
.tr_select:nth-of-type(2n){
  background-image: linear-gradient( rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
}

.select_papier {
    background-color: transparent;
    height: 1.8rem;
  width: 200px;
    /* border-radius: 5px;
    border-color: transparent;
    outline: 1px solid rgb(185, 185, 185);
    padding-left: 30px; */
    border:none;
    /* border-left: 1px solid rgb(185, 185, 185);
    border-right: 1px solid rgb(185, 185, 185); */
    /* color: gray; */
    /* outline: 1px solid rgb(185, 185, 185); */
    
  }

.id{

    width: 10px;
}

.gramatura{
    width: 6%;
    text-align: center;

}

.nazwa{
    width: 20%;


}
.wykonczenie{
    width: 60px;
    text-align: center;
}

.grupa{
    width: 150px;
}

.icon{
    padding-top: 3px;
    width: 15px;
    margin-right: 10px;
}

.main{
    overflow-y: auto;
}

.main::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .main::-webkit-scrollbar-thumb {
    background-image: linear-gradient(90deg, rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
  }
  
  /* Handle on hover */
  .main::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(90deg, rgb(107, 158, 224) 0%, rgb(137, 188, 254) 50%, rgb(107, 158, 224) 100%);
  }

  .input_info{
    border: none;
    background-color: transparent;
}