.grayScaleBackground {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 114;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(32, 32, 32, 0.315); */
}

.window{
  position: relative;
  height: 150px;
  min-width: 150px;
  max-width: 350px;
  z-index: 10;
  display: grid;
  grid-template-rows: 1fr; 
  gap: 10px;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #ebebeb;
}

.icon{
  width: 50px;
  /* DODANE WŁAŚCIWOŚCI ANIMACJI */
  animation: spin 3.5s linear infinite; /* Nazwa: spin, Czas: 1.5s, Szybkość: liniowa, Powtarzanie: nieskończone */
}

/* ------------------------------------------- */

/* DEFINICJA ANIMACJI */
@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start: 0 stopni */
  }
  100% {
    transform: rotate(360deg); /* Koniec: 360 stopni (pełny obrót) */
  }
}