

.btn_zamknij {
   width: 120px;
   height: 25px;
   background-color: transparent;
   border-radius:7px;
   border: 1px solid rgba(128, 128, 128, 0.281);
   font-size: 0.9rem;
   color: rgb(49, 49, 49);
   margin-top: 10px;
}

.btn_zamknij:hover {
   background-color: rgba(99, 248, 0, 0.445);
   color: rgb(49, 49, 49);
}