
.grayScaleBackground {
  position: absolute;
  bottom: 0px;
  left: 0px;
  /* width: 10%; */
  height: 100px;
  z-index: 3;
  backdrop-filter: grayscale(100%);
  /* backdrop-filter: blur(10px); */

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.window {
  position: absolute;
  width:300px;
  height: 80px;
  bottom:50px;
  left:10px;
  border-radius: 10px;
  /* min-width: 250px; */
  background-image: linear-gradient(#383838 0%, #0a0a0a 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
  
  /* background-color: rgb(198, 198, 198); */
  /* border: 1px solid rgb(143, 143, 143);
  border-radius: 10px;
  z-index: 3;
  display: grid;
  grid-template-rows: 2rem 35px 1fr 1rem;
  box-shadow: 10px 10px 10px gray;
  gap: 10px; */
  

}

.title{
  color: rgb(224, 224, 224);
  padding-top: 10px;
  /* font-size: 1.1rem; */
}

.ok_icon{
  margin-left: 10px;
  width: 75px;}

.dialog {
    position: fixed;
    bottom: 100px;
    left: 0;
    background-image: linear-gradient(#383838 0%, #0a0a0a 80%);
    width: 200px;
    height: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

    .dialog2{
      border-radius: 30px;
    }


.show {
    visibility: visible;
    animation: fadeOut 0.5s 2.6s, fadeIn 0.5s ;
  }
 .hide {
    visibility: hidden;
  }
  
  @keyframes fadeIn {
    from {
      bottom: 100px;
      left: -200px;
      opacity: 0;
    }
    to {
      bottom: 100px;
        left: 0;
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
        bottom: 100px;
        left: 0; 
      opacity: 1;
    }
    to {
        bottom: 100px;
      left: -200px;
      opacity: 0;
    }
  }