@import url(/src/Color.module.css);

.container {
  display: flex;
  align-items: start;
  justify-content: center;


}

.produkt {
  border-radius: 10px;
/* margin-left: 20px; */
  width: calc(100vw - 40px);

  box-shadow: 8px 8px 8px rgb(159, 159, 159);
  background-color: rgb(178, 196, 214);


}

.header {
  display: flex;
  align-items: center;
  justify-content: left;
  background-image: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
  padding-left: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 2rem;
  color: #fff;
}

.main {
  display: flex;
  align-items: end;
  justify-content: space-around;
  margin: 10px;

}
.select {
  background-color:  rgb(189, 204, 219);
  box-shadow: 2px 2px 2px grey;
  
  width: 120px;

}

.kontrolka {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
height: 55px;

}

.btn{
 
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
  color: #fff;
}

.btn:hover{
 
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
  color: #fff;
  outline: whitesmoke 1px solid;
  
}

label{
  font-size: 0.9rem;
}