@import url(/src/Color.module.css);

.container {
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;

}

.produkt {
  border-radius: 10px;
/* margin-left: 20px; */
  width: calc(100vw - 40px);
  height: 200px;
  box-shadow: 8px 8px 8px rgb(159, 159, 159);
  background-color: rgb(178, 196, 214);
  height: 150px;

}

.header {
  display: flex;
  align-items: center;
  justify-content: left;
  background-image: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
  padding-left: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 2rem;
  color: #fff;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;

}
