.blurContainer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;
  /* backdrop-filter: grayscale(); */
  background-color: #00000038;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  position: relative;
  height: 50%;
  width: 70%;
  min-height: 300px;
  min-width: 300px;
  /* background-color: #fff; */
  /* border: 1px solid rgb(143, 143, 143); */
  border-radius: 10px;
  z-index: 3;
  display: grid;
  grid-template-rows: 50px 150px 50px;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  /* background-image: linear-gradient(rgb(95, 186, 21) 0%,rgb(110, 209, 29) 50%,rgb(95, 186, 21) 100%);  */
/* background-color: #6a6a6a36; */

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 50px;

  padding: 20px;
  background-color: #fcfcfc; /* Bardzo jasne, neutralne tło */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.534); /* Subtelniejszy cień */
  overflow-x: auto;
  /* border-bottom: 1px solid rgba(143, 143, 143, 0.596); */
}

.header p {
  padding-top: 10px;
}

.zamknij_icon {
  width: 30px;
}

.title {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #6a6a6a;
  font-size: 1.5rem;
  /* font-weight: bold; */
  padding-top: 2px;
  padding-left: 10px;

}

.title2 {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #6a6a6a;
  font-size: 1.5rem;
  /* font-weight: bold; */
  padding-top: 2px;
  padding-left: 10px;

  margin-top: 5px;
  margin-left: 15px;
}



.main {
  margin-top: 10px;

  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;

}

.dodaj_proces_row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.btn_dodaj_proces {
  background-image: linear-gradient(rgb(144, 144, 144) 0%, rgb(163, 163, 163) 50%, rgb(144, 144, 144) 100%);


  width: 150px;
  height: 30px;
  border-radius: 10px;
  border-style: none;
  color: #fff;
  font-size: 1rem;
}

.footer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
  /* font-weight: bold; */
  padding-top: 8px;
  padding-left: 10px;

  gap: 20px;
  padding-bottom: 10px;

      padding: 20px;
  background-color: #fcfcfc; /* Bardzo jasne, neutralne tło */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.534); /* Subtelniejszy cień */
  overflow-x: auto;
   height: 50px;
}

.btn {
  /* background-image: linear-gradient(rgb(144, 144, 144) 0%, rgb(163, 163, 163) 50%, rgb(144, 144, 144) 100%); */
  /* background-image: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%); */
  /* background-image: linear-gradient(rgb(95, 186, 21) 0%, rgb(110, 209, 29) 50%, rgb(95, 186, 21) 100%); */


  width: 250px;
  height: 30px;
  border-radius: 10px;
border: 1px solid rgba(167, 167, 167, 0.274);
  color: #535353;
  font-size: 1rem;

}
.btn:hover{
background-color: #bebebe15;

}

.select {
  background: transparent;
  height: 25px; 
    width: 100%;
  box-shadow: none;
  border: none;
  /* border-bottom: #3333336d 1px dashed; */

}

.col_button{
  width: 20px;
}

.expand{
  width: 15px;
}



.col_mala{
  width: 80px;
}
.col_srednia{
  width: 150px;
}


.col_ilosc_uzytkow{
  width: 130px;
}
.col_proces{
  width: 200px;
}


.select_proces {
  background: transparent;
  height: 25px; 
  /* border-bottom: #3333336d 1px dashed; */
  width: 100%;
  box-shadow: none;
  border: none;
}


.input_ilosc_uzytkow{
  background: transparent;
  height: 25px; 
  width: 80px;
  box-shadow: none;
  border: none;
  /* border-bottom: #3333336d 1px dashed; */
  font-weight: 700;
  /* font-size: 1.5rem; */
  color: #535353;
  text-align: center;

}


.input_opis{
  background: transparent;
  height: 25px; 
  width: 100%;
  box-shadow: none;
  border: none;
  border-bottom: #3333336d 1px dashed;
  font-weight: 700;
  /* font-size: 1.5rem; */
  color: #535353;
  text-align: center;

}


.input_naklad{
  background: transparent;
  height: 25px; 
    width: 100%;
  box-shadow: none;
  border: none;
  /* border-bottom: #3333336d 1px dashed; */
  font-weight: 700;
  font-size:1rem;
  color: #535353;
  text-align: center;

}

.select_indeks {
  background: transparent;
  height: 25px; 
  width: 20px;
  box-shadow: none;
  border: none;
  /* border-bottom: #3333336d 1px dashed; */
  /* font-weight: 700;
  font-size: 1.1rem; */
  color: #535353;
  text-align: start;
}




.table  td {
  font-size: 0.9rem;
  height: 2rem;
  /* padding-left: 20px; */
  border-bottom: 1px solid #dbdad6;
}


/* Plik: Table.module.css */

/* Główne style dla kontenera i tabeli */
.main {
  padding: 20px;
  background-color: #fcfcfc; /* Bardzo jasne, neutralne tło */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.534); /* Subtelniejszy cień */
  overflow-x: auto;
  /* margin: 10px; */
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Bardziej nowoczesna czcionka */
  font-size: 14px;
  min-width: 1100px;
}

/* --- Nagłówek tabeli (thead) --- */

.table thead tr {
  background-color: #d8d8d888; /* Elegancki, ciemny granat (Navy) */
  color: rgb(58, 58, 58);
  /* Zaokrąglamy górne narożniki nagłówka */
  border-radius: 8px 8px 0 0;
}

.table th {
  padding: 3px 15px; 
  border-bottom: 3px solid #ffffff; /* Lekko ciemniejsza linia */
  /* background-color: #535353;
   */
   height: 20px;
}

.table th:last-child {
  border-top-right-radius: 8px;
}

.table th:first-child {
  border-top-left-radius: 8px;
}


/* --- Ciało tabeli (tbody) i wiersze --- */

.table tbody tr {
  background-color: #ffffff;
  transition: background-color 0.3s ease;

}
.table tbody tr {
  background-color: #ffffff;
  transition: background-color 0.3s ease;

}
.table tbody tr:hover {
  background-color: #ebf4ff; /* Bardzo delikatny, subtelny błękit przy najechaniu */
}

.table tbody tr:nth-child(even):hover {
  background-color: #ebf4ff; /* Bardzo delikatny, subtelny błękit przy najechaniu */
}
/* Naprzemienne kolory wierszy (Zebra stripes) */
.table tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Bardzo jasna szarość */
}

.table td {
  padding: 12px 15px;
  border-bottom: 1px solid #e0e0e0; /* Bardzo delikatna linia oddzielająca wiersze */
  color: #333;
  vertical-align: middle;
}

.table tbody tr:last-child td {
  border-bottom: none;
}



