.main{
    display: grid;
    grid-template-rows: 60px 1fr;
    background-color: rgba(89, 131, 252, 1);
    background-image: linear-gradient(0deg, rgba(89, 131, 252, 1) 0%, rgba(41, 53, 86, 1) 100%);
    /* background: url(/src/assets/logowanie_4.jpg); */
    background: url(/src/assets/m5.jpg );
    /* -webkit-transform: scaleX(-1);
    transform: scaleX(-1); */
    /* background: url(/src/assets/m3.png); */
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
}
.btnWyloguj{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    color: gray;
    border: none;
    box-shadow: 5px 2px 5px gray ;
    background-color: whitesmoke;
}
.btnWyloguj:hover{
    width: 100px;
    border-radius: 10px;
    color: gray;
    border: none;
    background-color: red;

    color: white;
}

.menu_txt{
    color: rgb(221, 221, 221);
    font-size: 13px;
    padding-top: 15px;
}
/* .menu_txt:hover{
    color: white;
} */


p{
    color: rgb(221, 221, 221);
    font-size: 13px;
    padding-top: 15px;
}


.icon{
    width: 20px;
}

.iconLock{
    position: absolute;
    right: 15px;
    width: 12px;
}
.header{
   
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 30px;
    padding-left: 30px;
    /* background-color: rgb(10, 10, 10,0.3); */
    /* border-bottom: 1px dashed rgb(216, 216, 216); */
}

.kafleContainer2{
    background-color: #ffffff;
    
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.kafleContainer{
display: flex;
flex-direction: column;
align-items: start;
  justify-content: center;

  gap:20px;
  height: calc(100vh - 70px);

  padding-left: 250px;
}


.row2{
    display: flex;
     
}
.kafle{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 40px;
    backdrop-filter:  blur(10px);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 450px;
    height: 50px;
    letter-spacing: 6px;
    font-size: 0.9rem;
    background-color: rgba(216, 216, 216,0.2);
    /* padding-left: 50px; */
    /* margin: 20px; */
  /* box-shadow: 1px 1px 15px rgb(255, 255, 255) ; */
  font-weight: 600;

  /* border: 1px solid  rgb(146, 146, 146); */
  /* border-left: 1px solid  rgb(146, 146, 146);
  border-bottom: 1px solid  rgb(146, 146, 146); */
  gap: 25px

  /* background-color: rgb(211, 211, 211); */
  /* background-color: rgb(154, 157, 165); */
  /* background-color: rgb(189, 2, 2); */

  
}
.imie{
    /* color:	rgb(222, 230, 253); */
    }

.kafle:hover > p{
    /* background-image: linear-gradient(#2b2b2c 0%, #38383a 80%); */
    /* backdrop-filter: grayscale(40%) blur(10px); */
    /* backdrop-filter: none; */
    /* background-color: rgb(229, 229, 229);  */
    /* background-color: red; */
    /* background-color: rgb(75, 75, 75); */
    color: rgb(204, 204, 204);
   
        /* background-image: linear-gradient(90deg, rgb(75, 75, 75, 0.1) 0%, rgb(75, 75, 75,1) 80%); */
    /* outline: 1px white dashed; */
    
}

/* .kafle:hover > .znak{
    background-color: rgb(255, 0, 0);

    scale: 40%;
} */

.kafle:hover {
    background-color: rgba(255, 0, 0, 0.8);
    /* box-shadow: 1px 1px 15px rgb(255, 255, 255) ; */

}
.znak{
    position: absolute;
    left: 15px;
    top:18px;
    width: 15px;
    height: 15px;
    
    border-radius: 20px;
 

}



.center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .user{
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 15px;

    
  }




.userIcon{
    width: 40px;

}

