.headerZamowieniaContainer {
    /* position: sticky; */
    background-color: black;
    background-image: linear-gradient(black 0%, rgb(70, 69, 69) 80%);
    height: 50px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    /* padding-left: 00px; */
    padding-right: 10px;


}

.title2 {
    padding-top: 15px;
    font-size: 1.2rem;
    color: rgb(201, 201, 201);
    font-family: Poppins;
    margin-right: 30px;
}


.leftHeaderContener {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    height: 50px;
    position: relative;

}



.centerHeaderContener {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    height: 50px;
    gap:10px
    
}

.rightHeaderContener {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    height: 50px;
}

.icon,
.icon2 {

    height: 90%;
    padding: 10px;
}

.icon:hover {
    background-color: rgb(78, 78, 78);
    border-radius: 5px;
}

.icon2:hover {
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
}

.szukajInput{
    background: transparent;
    box-shadow: none;
    border: 1px solid rgb(88, 88, 88);
    color: rgb(167, 167, 167);
    padding-left: 10px;
    border-radius: 5px;
    margin-right: 10px;
    height: 27px;
}
.szukajInput:hover{
background-color: azure;
color: black;
}

.szukajInputSort{
    background-color: transparent;
    box-shadow: none;
    border: 1px solid rgb(88, 88, 88);
    color: rgb(167, 167, 167);
    padding-left: 10px;
    border-radius: 5px;
    margin-right: 10px;
    height: 27px;
    width: 200px;
/* transition: background-color 3s ease-in-out, border-color 0.3s ease, box-shadow 0.3s ease; */

    
}
.szukajInputSort:focus{
    outline: none;
    background: black;

}





.szukajInputSort:focus {
outline: none;
background-color: black;
border-color: rgb(120, 120, 120); /* Opcjonalnie: lekkie rozjaśnienie ramki przy focusie */
}








.szukajInputSortBlue{
    background: rgb(0, 157, 255);
    box-shadow: none;
    border: 1px solid rgb(88, 88, 88);
    border: none;
    color: rgb(243, 243, 243);
    padding-left: 10px;
    border-radius: 5px;
    margin-right: 10px;
    height: 27px;
    width: 200px;
    /* font-size: 1.2rem; */
}

.szukajInputSortBlue:focus{
    outline: none;
}



.szukajInput::placeholder{
    color: rgb(110, 110, 110);
    font-size: 0.9rem;
}
.szukajInput:focus{
    outline: none;
}


/* --- TOAST NOTIFICATION --- */
.toast {
    position: fixed;
    bottom: 1px;
    right: 10px;
    background-color: rgb(40, 167, 69); /* Niebieski pasujący do reszty Twoich stylów, ew. zmień na zielony rgb(40, 167, 69) */
    background-color: rgb(0, 157, 255); /* Niebieski pasujący do reszty Twoich stylów, ew. zmień na zielony rgb(40, 167, 69) */
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    font-size: 0.9rem;
    z-index: 9999;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    pointer-events: none; /* Zapobiega klikaniu w dymek */
    animation: fadeIn 0.3s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.toast_container{
        display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.icon3{
    /* padding: 5px; */

    height: 50%;
    /* padding: 10px; */
}

.icon3:hover {
    background-color: rgb(78, 78, 78);
    border-radius: 5px;
}

