@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap'); 
/* @import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Jost&display=swap'); */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:root {
  /* Colors */
  --ArtDruk-granat: #10207a;
  --ArtDruk-granat2: #32c56f;
  --ArtDruk-shadow: #b1b1b1;
   --body-dark:#282c34;
  --border-color-light: rgb(233, 233, 233, 0.2);
  --text-color-light: rgb(233, 233, 233, 0.6); 
  --text-color-zielony: linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);

      /* dane*/
      --mr-gr-dane-background: #fff;
      --mr-gr-dane-input: rgb(219, 219, 219);
  
      /* produkty*/
      /* --mr-gr-produkty-background: #fff; */
      --mr-gr-produkty-background: transparent;
      --mr-gr-produktCard-background: rgb(209, 221, 233);
      --mr-gr-produkt-input: rgb(231, 242, 250);
      --mr-gr-produktCard-header: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
  
  
  
     
  

font-size: 15px;
}
body{
  background-color: #fff;

  position: relative;
  font-family: "Poppins", sans-serif;

}


.color-dark{

   background-color: #282c34; 

  
}


p{
  color: #000000;
}

.input2{
display: block;
width: 100%;
padding: .375rem .15rem;
font-size: 1rem;
line-height: 1.5;
color: #495057;
/* background-color: #fff; */
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
margin-bottom : 10px;

}


/* zeby komponenty nie chowal sie pod header */
.move_under_header{
  margin-top: 50px;

}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}




