@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap'); 
/* @import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Jost&display=swap'); */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:root {
  /* Colors */
  /* rgb(175, 175, 175); */

  /* Technologia Stage */
  --art-bg: rgb(224, 224, 224);
  --art-bg2:rgb(245, 245, 245);
  --art-bg-dane: rgb(119,119,119);
  --art-input: rgb(224, 224, 224);
  --art-input2: rgb(233, 233, 233);  
  --art-input3: rgb(175, 175, 175);
  --art-text-label: grey;


  /* Zestaw 1 */
  /* --art-bg:  rgb(238, 234, 230);
  --art-input: rgb(255, 255, 255);  
  --art-input2: rgb(238, 234, 230);   */

  /* -------------------------------------------------*/




   --body-dark:#282c34;
  --border-color-light: rgb(233, 233, 233, 0.2);
  --text-color-light: rgb(233, 233, 233, 0.6); 
  --text-color-zielony: linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);

      /* dane*/
      --mr-gr-dane-background: #fff;
      --mr-gr-dane-input: rgb(219, 219, 219);
  
      /* produkty*/
      /* --mr-gr-produkty-background: #fff; */
      --mr-gr-produkty-background: transparent;
      --mr-gr-produktCard-background: rgb(209, 221, 233);
      --mr-gr-produkt-input: rgb(231, 242, 250);
      --mr-gr-produktCard-header: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
  
  
  
     
  

font-size: 14px;
}
/* body{
  background-color: #fff;

  position: relative;
  font-family: "Poppins", sans-serif;

}


.color-dark{

   background-color: #282c34; 

  
}


p{
  color: #000000;
} */




