:root {


    /* dane*/
    --mr-gr-dane-background: #fff;
    --mr-gr-dane-input: rgb(219, 219, 219);

    /* produkty*/
    --mr-gr-produkty-background: #fff;
    --mr-gr-produktCard-background: rgb(209, 221, 233);
    --mr-gr-produkt-input: rgb(231, 242, 250);
    --mr-gr-produktCard-header: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);






}

/* @import url(/src/Color.module.css); */
/* import do lokalych .module.css */