.container {
  /* min-height: 70vh; */
  /* background-color: transparent; */
  /* background-color: rgb(232, 232, 247); */
  /* background-color: #b1ec10a4; */

  display: flex;
  /* align-items: center;
  justify-content: center; */
  /* padding: 5px; */
  font-family: system-ui, -apple-system, sans-serif;
  z-index: 10;
  animation: slideDown 0.3s ease-out;
  height: 105px;

}

.card {
  /* max-width: 400px; */
  /* width: 900px; */
  width: 100%;
  /* height: 140px; */
  /* background-color: rgba(45, 129, 238, 0.199); */
  border-radius: 10px;
  /* box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.2); */
  overflow: hidden;
  border: 1px solid rgba(70, 70, 70, 0.15);
  backdrop-filter: blur(10px);
  animation: slideDown 0.3s ease-out;
}
  @keyframes slideDown {
    from { opacity: 0.9; transform: translateY(0px); }
    to { opacity: 1; transform: translateY(0); }
  }
.header {
  /* background-color: rgba(94, 243, 89, 0.233); */
  background-color: #1818184f;
  /* background-color: #e8ec108c; */


  
  padding: 5px 15px;
  color: #313131;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  margin: 0;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 12px;
  
}

.headerSubtitle {
  margin: 5px 0 0 0;
  color: #c4c4c4;
  font-size: 14px;

  max-width: 700px;
  white-space: nowrap;     /* Blokuje zawijanie tekstu do nowej linii */
  overflow: hidden;        /* Ukrywa tekst wychodzący poza 300px */
  text-overflow: ellipsis;
}

.body {
  padding: 30px;
}

.scrollArea {
  margin-bottom: 20px;
  height: 250px;
  overflow-y: auto;
  padding-right: 10px;
}

/* Styl paska przewijania */
.scrollArea::-webkit-scrollbar {
  width: 6px;
}
.scrollArea::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}
.scrollArea::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}



@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.label {
  display: block;
  font-size: 11px;
  font-weight: 600;
  color: #d2d2d2;
  text-transform: uppercase;
  margin-bottom: 8px;
  letter-spacing: 0.05em;
}

.input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid rgba(226, 232, 240, 0.2);
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  background-color: rgba(30, 30, 30, 0.4);
  color: #e2e8f0;
  transition: all 0.2s;
}

.input:focus {
  border-color: #b1ec10;
  box-shadow: 0 0 0 2px rgba(177, 236, 16, 0.1);
}

.inputNr {
  width: 60px;
  padding: 5px 12px;
  border: 1px solid rgba(117, 117, 117, 0.2);
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  /* background-color: rgba(184, 184, 184, 0.4); */
  /* background-color: rgba(185, 185, 185, 0.185); */

  color: #161616;
  transition: all 0.2s;
}

.inputNr:focus {
  border-color: #b1ec10;
  box-shadow: 0 0 0 2px rgba(177, 236, 16, 0.1);
}



.inputNaklad {
  width: 40px;
  padding: 5px 5px;
  border: 1px solid rgba(226, 232, 240, 0.2);
  border-radius: 8px;
  outline: none;
  font-size: 10px;
  background-color: rgba(30, 30, 30, 0.4);
  color: #e2e8f0;
  transition: all 0.2s;
}

.inputNaklad:focus {
  border-color: #b1ec10;
  box-shadow: 0 0 0 2px rgba(177, 236, 16, 0.1);
}



.controls {
  display: flex;
  gap: 15px;
}

.input > option {
  background-color: rgb(88, 88, 88);
  color: #bebebe;
}
.btnAdd {
  /* background-color: #185168fa; */
  background-color: #b1ec1083;

  border: 1px dashed rgba(203, 213, 225, 0.4);
  border-radius: 5px;
  padding: 5px 20px;
  color: #303030;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  transition: all 0.2s;
}

.btnAdd:hover {
  /* background-color: rgba(203, 213, 225, 0.1); */
  background-color: #b1ec1083;

  border-color: #303030;
  /* color: #ffffff; */
  color: #303030;

}


.btnZamknij {
  /* background-color: #185168fa; */
  background-color: #ec3c10ec;

  border: 1px dashed rgba(203, 213, 225, 0.4);
  border-radius: 5px;
  padding: 5px 5px;
  color: #303030;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  transition: all 0.2s;
}

.btnZamknij:hover {
  /* background-color: rgba(203, 213, 225, 0.1); */
  background-color: #ec3c10;

  border-color: #303030;
  /* color: #ffffff; */
  color: #303030;

}

.btnWyczysc {
  /* background-color: #185168fa; */
  background-color: #cfcfcf83;

  border: 1px dashed rgba(203, 213, 225, 0.4);
  border-radius: 5px;
  padding: 5px 10px;
  color: #303030;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  transition: all 0.2s;
}

.btnWyczysc:hover {
  /* background-color: rgba(203, 213, 225, 0.1); */
  background-color: #ec111183;

  border-color: #303030;
  /* color: #ffffff; */
  color: #303030;

}


.btnImport{
  background-color: #ec94105e;
  border: 1px dashed rgba(203, 213, 225, 0.4);
  border-radius: 12px;
  padding: 10px 10px;
  color: #c0c0c0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  transition: all 0.2s;
}

.btnImport:hover {
  /* background-color: rgba(203, 213, 225, 0.1); */
  /* background-color: #b1ec1083; */
  background-color:  #fc9d0e5e;


  border-color: #ffffff;
  color: #ffffff;
}



.btnCalculate {
  flex: 1;
  background-color: rgba(178, 236, 16, 0.2);
  color: #b1ec10;
  border: 1px solid #b1ec10;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s;
  letter-spacing: 2px;
}

.btnCalculate:hover {
  background-color: rgba(178, 236, 16, 0.3);
  box-shadow: 0 0 15px rgba(177, 236, 16, 0.2);
}

.btnCalculate:active {
  transform: scale(0.98);
}

.resultArea {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 15px;
  background-color: rgba(231, 231, 231, 0.288);
  /* background-color: rgba(214, 214, 214, 0.77); */

  border-top: 1px solid rgb(216, 216, 216);
  text-align: center;
  /* height: 100px; */
/* background-color: #a2b894; */

}

.resultAreaLeft {
      display: flex;
    align-items: center;

    justify-content: start;
    padding-left: 10px;
}
.resultAreaCenter {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    gap:10px;
    padding-right: 10px;
  /* width: 300px; */
/* background-color: #94a3b8; */
}
.resultAreaRight {
/* background-color: #ebc1074e; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    gap:10px;
    padding-right: 10px;
}

.resultAreaBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
  /* background-color: rgba(35, 35, 36, 0.9); */
/* background-color: #a2b894; */
/* margin: 5px; */
/* height: 40px; */
}


.totalValue {
  font-size: 40px;
  font-weight: 900;
  color: #ffffff;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  /* padding-left: 50px; */
}

.totalWeight {
  font-size: 30px;
  font-weight: 900;
  color: #ffffff80;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  /* padding-left: 50px; */
}

.unit {
  font-size: 24px;
  font-weight: 700;
  color: #94a3b8;
  margin-left: 10px;
}
.unit2 {
  /* font-size: 24px;
  font-weight: 700;
  color: #94a3b8; */
  margin-left: 10px;
  margin-right: 10px;

}


.trashBtn {
  background: none;
  border: none;
  color: #64748b;
  cursor: pointer;
  padding: 8px;
  transition: all 0.2s;
}

.trashBtn:hover {
  color: #ef4444;
  transform: rotate(90deg);
}





.colData {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: start;
  gap:2px


  /* width: 100%; */
}

.labelData {
  font-size: 0.7rem;
  padding-left: 10px;
  color: #919191;
  text-transform: uppercase;
  
}

.inputData {
  background-color: white;
  border-radius: 5px;
  border-color: transparent;
  outline: 1px solid rgb(216, 216, 216);
  padding: 5px 10px;

}


.inputData:focus {
    background-color: white;
  border-radius: 5px;
  border-color: transparent;
  outline: 1px solid rgb(50, 160, 233);


}