.procesy {
  background-color: white;
  height: 2rem;
  /* border-radius: 5px; */
  border-color: transparent;
  /* outline: 1px solid rgb(185, 185, 185); */
  /* padding-left: 10px; */
  border-right: 1px dashed grey;
  min-width: max-content;
  display: grid;
  grid-template-columns: 25px 1fr;
  margin-top: 3px;
  padding-right: 5px;

}


.procesy_elementy {
  background-color: rgba(221, 221, 221, 0.527);
  height: 2rem;
  padding-top: 2px;
  border-radius: 5px;
  /* padding-right: 5px; */
}

.procesy_elementy:hover{
    background-color: rgba(212, 255, 131, 0.527);
}

.procesy_elementy_dol {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 5px;
  gap: 6px;
  padding-left: 7px;
    width: 500px;
    overflow: hidden;

}




.procesy_elementy_bold {
  font-weight: bold;
  font-size: 0.9rem;
  color: rgb(86, 86, 86);
}

.procesy_elementy_indeks {
  font-weight: bold;
  font-size: 0.9rem;

  color: rgb(86, 86, 86);
  padding-bottom: 2px;
}


.procesy_elementy_light {
  font-size: 0.8rem;
  padding-top: 2px;
}

.expand {
  height: 15px;
  margin-right: 10px;
}



.expand_procesy {
  height: 15px;
  /* margin-right: 10px; */
  margin-left: 5px;
}

.expand_procesy:hover {
  background-color: rgb(192, 250, 187);
  border-radius: 10px;
}