
.body{
 /* background-image: linear-gradient(#383838 0%, #0a0a0a 80%);
 background-image: linear-gradient(#0a0a0a 0%, #292929  50%,#0a0a0a  100%); */

 /* top: 0px; */
 height: 50px;
 width: 95vw;
 /* position: fixed;
 z-index: 1; */

 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 /* border-bottom:1px solid #bebdbd; */
 /* margin-bottom: 10px; */
}

.ustawienia_txt{
    font-size: 1.5rem;
    color: rgb(193, 193, 193);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }


 

.leftHeaderContener{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    height: 50px;
     
}



.centerHeaderContener{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    height: 50px;
}
.rightHeaderContener{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    height: 50px;
}

.iconClose{
    
    height: 90%;
    padding: 10px;

/* background-color: rgb(255, 255, 255,0.9); */
border-radius: 10px;
/* border: 1px solid rgb(142, 142, 142); */

backdrop-filter:  blur(30px);
background-color: rgba(134, 134, 134, 0.4);


    
}

.iconClose:hover{

    /* outline:1px solid #ff0000; */
   

    /* background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%); */
    /* background-image: linear-gradient(#383838 0%, #444343 80%); */
    /* background-color: rgb(230, 230, 230); */
    background-color: red;
    border-radius: 5px;

    
}

.procesy_input{
    color: rgb(190, 190, 190);
    font-size: 20px;
    padding-top: 15px;

    border: none;
    padding-bottom: 15px;
    /* vertical-align: middle; */
}
.procesy_input:focus{
outline: none;
}
