

.btn_zamknij {
   margin-top: 10px;
   width: 120px;
   height: 25px;
   background-color: transparent;
   border-radius: 5px;
   border: 1px solid rgba(128, 128, 128, 0.429);
   background-color: rgb(212, 212, 212);
font-size: 0.9rem;
   color: rgb(49, 49, 49);
}

.btn_zamknij:hover {
   background-color: #81b3ff;
   color: rgb(255, 255, 255)

}