.container {
    background-color: rgb(214, 214, 214);
    margin-left: 20px;
 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 
  }
  

  
  .header {
    display: flex;
    align-items: center;
    justify-content: left;
    /* background-image: linear-gradient(rgb(95, 186, 21) 0%, rgb(110, 209, 29) 50%, rgb(95, 186, 21) 100%); */
    background-image: linear-gradient(rgb(180, 180, 180) 0%, rgb(199, 199, 199) 50%, rgb(180, 180, 180) 100%);
  
  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 1.6rem;
    color: #fff;
    font-size: 0.9rem;
    padding-left: 20px;
  
  }
  
  .kropka{
    /* background-color: red; */
    background-image: linear-gradient(rgb(107, 158, 224) 0%, rgb(126, 182, 255) 50%, rgb(107, 158, 224) 100%);
    background-image: linear-gradient(rgb(95, 186, 21) 0%, rgb(110, 209, 29) 50%, rgb(95, 186, 21) 100%);
  
    border-radius: 10px;
    height: 10px;
    width: 10px;
  }
  
  .main {
    overflow: auto;
  }

  .naglowek{
    color: #fff;
    font-size: 0.9rem;
    padding-left: 10px;
  }
  
  /* pasek przewijania */
  .main::-webkit-scrollbar {
    width: 0.8em;
    height: 10px;
  }
  
  .main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  
  }
  
  .main::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgb(95, 186, 21) 0%, rgb(110, 209, 29) 50%, rgb(95, 186, 21) 100%);
    /* outline: 1px solid slategrey; */
    border-radius: 20px;
  }
  
  .main::-webkit-scrollbar-corner {
    background-color: rgb(191, 209, 194);
  }
  
  
  .table2{
  
   
  }
  
  
  
  .table2 input {
    width: 100%;
  }
  
  .col1 {
    width: 20px;
  }
  
  .col_kolory {
    width: 200px;
    min-width: 150px;
    max-width: 300px;
  }
  
  .col_id {
    width: 120px;
  }
  
  .col_typ {
    width: 80px;
  }
  
  .col_naklad {
    width: 75px;
  
  }
  
  .col_strony {
  
    width: 60px;
    background-color: red;
  }
  
  .col_gramatura {
    width: 70px;
  }
  
  .col_wykonczenie {
    width: 100px;
  }
  
  .col_wersja {
    width: 100px;
  }
  
  .col_format {
    min-width: 50px;
    width: 50px;
  }
  
  .col_button {
    width: 10px;
    margin-left: 10px;
    
    /* background-color: red; */
  }
  
  .col_papier {
    width: 150px;
  }
  
  .col_papierInfo {
    width: 150px;
  }
  
  .col_uszlachetnianie {
    width: 300px;
  }
  
  .table2 th,
  .table2 tr:nth-child(even) {
    /* background-image: linear-gradient(180deg,rgb(232, 245, 234) 20%, rgb(191, 209, 194) 100%); */
    background-color: rgb(216, 216, 216);
    color: rgb(61, 61, 61);
    font-size: 0.9rem;
    outline-style: none;
  
  }
  
  .table2 tr:nth-child(odd) {
    background-color: rgb(238, 238, 238);
    outline-style: none;
    font-size: 1rem;
  }
  
  .table2 .select {
    background-color: transparent;
    box-shadow: none;
    
  }
  
  .element_typ{
  width: 120px;
  font-weight: bold;
  font-size: 0.9rem;
  }
  .element_naklad{
    width: 120px;
    font-weight: bold;
    }
  
  
    .icon {
      height: 70%;
      display: flex;
      justify-content: left;
      align-items: center;
    
    }
  
  
  .icon:hover{
    border-top:  rgb(159, 159, 159) dashed 1px; 
      /* outline:  rgb(159, 159, 159) solid 1px; */
    }
  
  .icon:active {
    box-shadow: 2px 2px 2px rgb(159, 159, 159);
  }
  
  
  .procesy {
    display: grid;
    grid-template-columns: 25px 1fr;
  }
  
  .expand {
    height: 15px;
    margin-right: 10px;
  
  
  }
  
  .alert2{
    background-color: red;
  
  }
  .alert2{
    background-color: none;
  }

  .tr_legi{
    height: 2rem;
  }