
.body{
    padding-top: 50px;

    background-color: rgb(143, 143, 143);
    /* border: 1px solid red; */

    display: grid;
    min-height: calc(100vh - 5px);
    grid-template-rows: 1fr 100px;
    

}
