.container {
  display: grid;
    grid-template-columns: 200px 1fr ;
    /* background-image: linear-gradient(black 0%, rgb(26, 26, 26) 80%); */
    outline: 1px solid rgb(190, 190, 190);

}


/* .body {
    outline: 1px solid rgb(190, 190, 190);

    width: 100vw;
    display: grid;
    grid-template-columns: 200px 1fr ;




} */

            .leftHeaderContener {
                outline: 1px solid rgb(190, 190, 190);
                display: flex;
                justify-content: left;
                align-items: start;
                /* padding-left: 20px; */
                /* height:calc(100vh - 100px); */

            }



            .rightHeaderContener {
                display: flex;
                justify-content: left;
                align-items: center;
                /* padding-left: 10px; */
                /* height: 50px; */
                gap: 10px;
                overflow-y: auto;

            }



    .icon_close {
        height: 43px;
        padding: 12px;
    }

    .icon_close:hover {
        background-color: rgb(255, 67, 67);
        border-radius: 5px;
    }


    /* .main{
   overflow-y: auto;
   background-color: transparent;
 } */
 
 .rightHeaderContener::-webkit-scrollbar-thumb {
   background-color: rgb(95, 82, 82)
 }

.rightHeaderContener::-webkit-scrollbar {
width: 0.7em;
}

.rightHeaderContener::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);

}

.rightHeaderContener::-webkit-scrollbar-thumb {
background-image: linear-gradient(90deg, rgb(97, 96, 96) 0%,rgb(158, 158, 158) 50%,rgb(81, 78, 78) 100%);
border-radius: 20px;
}

.rightHeaderContener::-webkit-scrollbar-corner {
background-image: linear-gradient(90deg, rgb(97, 96, 96) 0%,rgb(106, 102, 102) 50%,rgb(81, 78, 78) 100%);
}
